flows.escamax1.automacao360.com/workflows/[Alaiane]  contatos Bobgrow.json
{
  "createdAt": "2025-03-30T10:50:45.384Z",
  "updatedAt": "2025-05-26T08:29:40.301Z",
  "id": "WdDXZS46qi8VKBEj",
  "name": "[Alaiane]  contatos Bobgrow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5204bb98-c216-43c7-b7d6-c43d8ec122f0",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        700
      ],
      "id": "0d1f22f8-d94e-4524-87e5-dae93e0505bc",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        600,
        700
      ],
      "id": "727f35e7-1709-4627-b2e3-09d65b69e75f",
      "name": "Merge"
    },
    {
      "parameters": {
        "email": "={{ $('Execute Workflow Trigger').item.json.email.replace('YOU', '') }}",
        "phone": "={{ $('Execute Workflow Trigger').item.json.phone }}",
        "additionalFields": {
          "firstName": "={{ $('Execute Workflow Trigger').item.json.firstName }}",
          "lastName": "={{ $('Execute Workflow Trigger').item.json.lastName }}",
          "tags": "atendida pela ia"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        380,
        600
      ],
      "id": "1beafaf3-b52c-4a52-b4ee-d7c3b9f5e989",
      "name": "CreateContact",
      "alwaysOutputData": true,
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "Q6PDZeGm0XF9Rmob",
          "name": "Alaiana Joias"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $('Execute Workflow Trigger').item.json.email.replace('YOU', '') }}",
        "phone": "={{ $('Execute Workflow Trigger').item.json.phone }}",
        "additionalFields": {
          "address1": "={{ $('Execute Workflow Trigger').item.json.address1 }}",
          "city": "={{ $('Execute Workflow Trigger').item.json.city }}",
          "customFields": {
            "values": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "07ko2SpFq1oPjtxrLYb8",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.cpf'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "lMtqS57YBBfyUlymPO4o",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.estado_civil'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "BVV8WRDW4XyUx1p4mSAx",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.filhos'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "py4wTUIRSmTMZwYB0hBd",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.o_que_atrai_na_revenda'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "CTgOnKbzIZgoJR4teLIr",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.referencias_pessoais1'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "X5nvBLw4Xbd8prb4AzXE",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.referencias_pessoais2'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "5BvqlSFPQ4pbwJ0VwhR1",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.referencias_pessoais3'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "8HpBKMWrKdSYEkyZ1UmV",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.nome_ou_arroba_rede_social'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "KBLLxxwhZ4KH9QOUwsFx",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.usaria_redes_sociais_para_vender'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "cMDOeKEitghr5uor9TuE",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.possui_veiculo'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "MuIY46aHN4B9fZiPmaZ5",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.tem_emprego'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "lyEhOYBqfrNpxR3YFjAk",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.tem_cartao_credito'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "GH47OILLYNiNtSuRJFCu",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.tem_restricao_motivo'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "2jxka6OaEZobsGqKFR3u",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.detalhes_restricao'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "gO2l1mj1Q8MUGDuUDN2E",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.compromissos_financeiros'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "FRcIESSkn9nyBP3TD3SI",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.recursos_caso_cliente_nao_pague'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "03yKpDYQfH1E1InYcCG2",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.aceita_termos_revenda'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "G39YGFhq3tEA0WoeIKqb",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.participaria_treinamentos'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "vIUGcfeBMZPhUAfbg7rN",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.como_montaria_mostruario'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "A0diS3LpEwcRfTFpEbsb",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.usaria_redes_sociais_para_vender'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "QA8AqFCoVqKdWYYyZP6i",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.casa_propria'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "1jtE93cVuQXommNPX3dL",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.rg'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "8OAPlQrvKVVojoF9XTSf",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['Qual rede social mais usa?'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "JPfgYB374R2w3qHMzinv",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['Motivo de não ter Cartão de Crédito'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "4N3DF6mlXc5mWouVV3gf",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['Qual motivo de ter restrição financeira?'] }}"
              }
            ]
          },
          "firstName": "={{ $('Execute Workflow Trigger').item.json.firstName }}",
          "lastName": "={{ $('Execute Workflow Trigger').item.json.lastName }}",
          "postalCode": "={{ $('Execute Workflow Trigger').item.json.postalCode }}",
          "source": "Entrevista com o IA",
          "state": "={{ $('Execute Workflow Trigger').item.json.state }}",
          "tags": "registro finalizado"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        380,
        800
      ],
      "id": "5e9f8e29-cc59-4d8c-bc75-f97d0ed65dcb",
      "name": "UpdateContacts",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "Q6PDZeGm0XF9Rmob",
          "name": "Alaiana Joias"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "query": "={{ $json.firstName }} {{ $json.lastName }}"
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        -40,
        700
      ],
      "id": "3dbb677a-e437-4757-ba23-5d7144fa33ca",
      "name": "Busca",
      "alwaysOutputData": true,
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "Q6PDZeGm0XF9Rmob",
          "name": "Alaiana Joias"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7151d45b-619f-4fe5-87d8-0a43faf166f2",
              "name": "response",
              "value": "={{ $item(\"0\").$node[\"Merge\"].json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "709a7f7a-b3a0-489a-9718-9518f16c64e6",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        700
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "firstName"
            },
            {
              "name": "lastName"
            },
            {
              "name": "email"
            },
            {
              "name": "phone"
            },
            {
              "name": "dateOfBirth"
            },
            {
              "name": "address1"
            },
            {
              "name": "neighborhood"
            },
            {
              "name": "city"
            },
            {
              "name": "state"
            },
            {
              "name": "country"
            },
            {
              "name": "postalCode"
            },
            {
              "name": "source"
            },
            {
              "name": "contact.cpf"
            },
            {
              "name": "contact.rg"
            },
            {
              "name": "contact.estado_civil"
            },
            {
              "name": "contact.filhos"
            },
            {
              "name": "contact.referencias_pessoais1"
            },
            {
              "name": "contact.referencias_pessoais2"
            },
            {
              "name": "contact.referencias_pessoais3"
            },
            {
              "name": "contact.rede_social_mais_usa"
            },
            {
              "name": "contact.nome_ou_arroba_rede_social"
            },
            {
              "name": "contact.finalidade_uso_redes_sociais"
            },
            {
              "name": "contact.usaria_redes_sociais_para_vender"
            },
            {
              "name": "contact.casa_propria"
            },
            {
              "name": "contact.possui_veiculo"
            },
            {
              "name": "contact.tem_emprego"
            },
            {
              "name": "contact.descreva_emprego_atual"
            },
            {
              "name": "contact.tem_cartao_credito"
            },
            {
              "name": "contact.motivo_sem_cartao"
            },
            {
              "name": "contact.restricao_cpf"
            },
            {
              "name": "contact.tem_restricao_motivo"
            },
            {
              "name": "contact.detalhes_restricao"
            },
            {
              "name": "contact.ja_trabalhou_com_vendas"
            },
            {
              "name": "contact.o_que_atrai_na_revenda"
            },
            {
              "name": "contact.compromissos_financeiros"
            },
            {
              "name": "contact.recursos_caso_cliente_nao_pague"
            },
            {
              "name": "contact.forma_divulgacao_venda"
            },
            {
              "name": "contact.como_montaria_mostruario"
            },
            {
              "name": "contact.participaria_treinamentos"
            },
            {
              "name": "Qual rede social mais usa?"
            },
            {
              "name": "Motivo de não ter Cartão de Crédito"
            },
            {
              "name": "Qual motivo de ter restrição financeira?"
            },
            {
              "name": "contact.aceita_termos_revenda"
            },
            {
              "name": "conversationHistory"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -260,
        700
      ],
      "id": "ca21631b-e8f3-44cb-b32d-4ac20378c44d",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        1020
      ],
      "id": "d5e9e9c3-6774-47b6-8313-a63ba3bb159a",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Estou com esse erro: {{ $json.execution.error.stack }}",
        "options": {
          "systemMessage": "Você é um agente especializado em resolver erro do n8n.\nVocê tem toda a documentação na \"baseConhecimento\".\n\nChame a tool \"baseConhecimento\" para obter a solução para este erro."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        360,
        1020
      ],
      "id": "bccc6edb-5ac3-4dd0-b314-7ee7242ea36b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "match_assistant_n8n",
        "toolDescription": "Buscar informações sobre o n8n",
        "tableName": {
          "__rl": true,
          "value": "assistant_n8n",
          "mode": "list",
          "cachedResultName": "assistant_n8n"
        },
        "options": {
          "queryName": "match_assistant_n8n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        620,
        1220
      ],
      "id": "9de51890-0893-4948-b8b4-a5346ba1bd2c",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "MmwWW5IYycE2AaDQ",
          "name": "Ag. OndaIA"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        720,
        1400
      ],
      "id": "90268447-857f-462d-9a1d-35db6bb341ea",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "3KUgCv31pjbgxYGk",
          "name": "EscalaMax"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "268e2638-88fc-445c-9716-08fe51660dc3",
              "name": "execution.url",
              "value": "={{ $json.execution.url }}",
              "type": "string"
            },
            {
              "id": "0cc51b04-fb91-4af5-92a7-a459334d6e67",
              "name": "execution.error.message",
              "value": "={{ $json.execution.error.message }}",
              "type": "string"
            },
            {
              "id": "aa5851cd-c127-4fcd-b4a1-5567c2ca5942",
              "name": "execution.error.stack",
              "value": "={{ $json.execution.error.stack }}",
              "type": "string"
            },
            {
              "id": "1da5bad4-1f7a-41c0-a0b0-cdd58f34616a",
              "name": "workflow.name",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        1020
      ],
      "id": "5e95b2ad-0bbe-4af5-b1b9-478acf38617b",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "suporteondaia",
        "remoteJid": "5567999308787",
        "messageText": "=Workflow: {{ $('Edit Fields4').item.json.workflow.name }}\n\nMensagem de erro : {{ $('Edit Fields4').item.json.execution.error.stack }}\n\nacesse o link para erro: {{ $('Edit Fields4').item.json.execution.url }}\n\nlog do erro: \n{{ $('Error Trigger').item.json.execution.error.errno }}\n{{ $('Error Trigger').item.json.execution.error.code }}\n{{ $('Error Trigger').item.json.execution.error.syscall }}\n{{ $('Error Trigger').item.json.execution.error.message }}\n\nResolução: {{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        720,
        1020
      ],
      "id": "8ea1528f-a019-4dc2-a890-9f563a5fd2ef",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "KKh2QKWo3vqF000N",
          "name": "Agencia OndaIA"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        380,
        1200
      ],
      "id": "914e2e92-f4f5-41c9-875f-92fd63a0bb27",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "OJT1sLLEsazPFgVw",
          "name": "OpenRouter escalamax"
        }
      }
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "CreateContact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UpdateContacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateContact": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateContacts": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Busca": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Busca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "WdDXZS46qi8VKBEj"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2e4024d5-7694-420a-bffd-50e573d258a2",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-03-19T22:11:03.387Z",
      "updatedAt": "2025-03-19T22:11:03.387Z",
      "id": "doE4oLKcB5rljyTF",
      "name": "Alaiana Joias"
    }
  ]
}