flows.escamax1.automacao360.com/workflows/[Alina]  contatos Bobgrow.json
{
  "createdAt": "2025-03-30T10:56:45.180Z",
  "updatedAt": "2025-07-04T12:54:11.612Z",
  "id": "xE00zQwUnJwp2PIx",
  "name": "[Alina]  contatos Bobgrow",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7151d45b-619f-4fe5-87d8-0a43faf166f2",
              "name": "response",
              "value": "=número de telefone não tem Whatsapp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a48197c7-6970-4f21-9715-9d726d43f515",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5204bb98-c216-43c7-b7d6-c43d8ec122f0",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        940
      ],
      "id": "20138756-c309-43df-97f2-c41f06da7c9c",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1340,
        940
      ],
      "id": "f152dac2-0802-4538-81e8-17a3ac06b9a8",
      "name": "Merge"
    },
    {
      "parameters": {
        "email": "={{ $('Execute Workflow Trigger').item.json.email }}",
        "phone": "={{ $json.number }}",
        "additionalFields": {
          "firstName": "={{ $('Execute Workflow Trigger').item.json.firstname }}",
          "lastName": "={{ $('Execute Workflow Trigger').item.json.lastname }}",
          "tags": "atendida pela ia"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        1000,
        700
      ],
      "id": "4ebfbd82-f687-4c75-b2ee-cc44256955ae",
      "name": "CreateContact",
      "alwaysOutputData": true,
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "DIE67zIMAh6q3flN",
          "name": "Aline Concept"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "email": "={{ $('Execute Workflow Trigger').item.json.email.replace(/YOU/gi, '').trim() }}",
        "phone": "={{ $('Execute Workflow Trigger').item.json.phone }}",
        "additionalFields": {
          "address1": "={{ $('Execute Workflow Trigger').item.json.address1 }}",
          "city": "={{ $('Execute Workflow Trigger').item.json.city }}",
          "customFields": {
            "values": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "zXja0lR7TbjnZlLldDrQ",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.instagram'].replace(/YOU/gi, '') }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "3ncTkoYXEyc7c68Y3sfa",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.ja_trabalhou_com_vendas'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "apKjUBLBbTXlUvSXlRdz",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.quanto_tempo_trabalha_com_vendas'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "nStRyvSgHhWJIa7fUoPh",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.o_que_mais_te_atrai_na_oportunidade_de_revender_semijoias_no_consignado'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "OrPrWgUT5BWSO99515LB",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.voc_j_trabalhou_com_produtos_no_consignado'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "On7i1hVAcWNZ5tMCWGOL",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.quais_produtos_voc_j_vendeu_antes'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "5Zhhhapklj6WeRu8gmxY",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.como_voc_lida_com_compromissos_financeiros_e_prazos_de_pagamento'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "NUmnOAUx2wrpCo9MM4nh",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['Você se considera uma pessoa responsável e de confiança? Por quê?'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "cDEnpyUfQmh2V64sXsRE",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.contato__01'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "JqPFutud5YGraTc0Rf6i",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.contato_02'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "gJXBnLJop9tUO8ICm8Et",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.contato__03'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "wHX0zg4mj6hofX8VKw3M",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.caso_uma_cliente_compre_e_no_pague_de_onde_voc_pretende_tirar_os_recursos_para_cobrir_essa_dvida'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "4vfgbSYDgl0gQEAHK6c4",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.voc_possui_algum_trabalho_atualmente'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "V4Y6fs48hzrta2o8flLg",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.com_o_que_trabalha'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "mVQqDTIARtAuIy8MQpEm",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.quanto_tempo_na_semana_voc_est_disposta_a_dedicar_para_vender_as_semijoias'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "soBjJL6gvArc0bbin07t",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.quais_desafios_voc_acha_que_pode_enfrentar_o_comear_como_revendedora_e_como_pretende_superlos'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "9RUuRTRsUJhgcOJrBiRZ",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.voc_est_pronta_para_comear_imediatamente_caso_seja_aprovada\",       \"field_value'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "xA6dTzRThjsS8duFqcHN",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.voc_est_disposta_a_participar_de_treinamentos_para_aprender_mais_sobre_as_vendas_e_produtos'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "SoJwYYu3Jgc5t8Q3Ew23",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.como_voc_pretende_divulgar_e_vender_as_semijoias'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "rLvv89SVVC8Zhad0Ekw5",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.estado_civil'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "6Gx8JoUTv8dsLRy5crM8",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.cpf'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "51lY8wZtHdJH95JDxxgX",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['Endereço do trabalho'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "UiEAMxgnO9wC04lJBcf8",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['Endereço residencial com número'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "NcybLaphcZlg1dB9EV9a",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['descreva o que faz no emprego'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "SfCXFY2hPWuqR8BZ3AK5",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['Para finalizar leia e aceite os termos'] }}"
              }
            ]
          },
          "firstName": "={{ $('Execute Workflow Trigger').item.json.firstname }}",
          "lastName": "={{ $('Execute Workflow Trigger').item.json.lastname }}",
          "postalCode": "={{ $json.postalCode }}",
          "source": "Entrevista com o IA",
          "state": "={{ $json.state }}",
          "notes": "={{ $json.dateOfBirth }}",
          "tags": "registro finalizado"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        1020,
        960
      ],
      "id": "8ff9ea00-c855-4ba4-abfc-ec8fbdca22cb",
      "name": "UpdateContacts",
      "alwaysOutputData": true,
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "DIE67zIMAh6q3flN",
          "name": "Aline Concept"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "query": "={{ $json.body.firstName }} {{ $json.body.laststName }}"
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        -180,
        940
      ],
      "id": "6990b7d6-10de-40e2-9a16-25da04eeacb7",
      "name": "Busca",
      "alwaysOutputData": true,
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "DIE67zIMAh6q3flN",
          "name": "Aline Concept"
        }
      }
    },
    {
      "parameters": {
        "content": "# Verifica whatsapp",
        "height": 280,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        260,
        620
      ],
      "typeVersion": 1,
      "id": "1ca2078c-b984-4012-8640-f420190153c4",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.escamax1.automacao360.com/chat/whatsappNumbers/maryjhon",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=239A1C16855D73C57525DD951AC3C"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numbers\": [\n    \"{{ $json.phone }}\"\n  ]\n}",
        "options": {}
      },
      "id": "9b304871-f67f-4d46-94a8-4b587a401728",
      "name": "Whatsapp válido?",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        500,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"exists\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "81c72e68-cd07-4a0e-9fb4-b1925415dc0a",
      "name": "É válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        720
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7151d45b-619f-4fe5-87d8-0a43faf166f2",
              "name": "response",
              "value": "={{ $item(\"0\").$node[\"Merge\"].json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b50a3594-ca1a-41a7-94a5-74f6f2e3120c",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        940
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10772c94-caa3-4d05-b687-10bf15a12e69",
              "name": "phone",
              "value": "={{ $node[\"Execute Workflow Trigger\"].json.phone.startsWith('+55') \n  ? $node[\"Execute Workflow Trigger\"].json.phone \n  : '+55' + $node[\"Execute Workflow Trigger\"].json.phone.replace(/^0+/, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        720
      ],
      "id": "88735987-b051-40cd-9fda-1ccf0cc74a35",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "firstname"
            },
            {
              "name": "lastname"
            },
            {
              "name": "phone"
            },
            {
              "name": "email"
            },
            {
              "name": "dateOfBirth"
            },
            {
              "name": "source"
            },
            {
              "name": "address1"
            },
            {
              "name": "city"
            },
            {
              "name": "state"
            },
            {
              "name": "country"
            },
            {
              "name": "postalCode"
            },
            {
              "name": "contact.instagram"
            },
            {
              "name": "contact.estado_civil"
            },
            {
              "name": "contact.ja_trabalhou_com_vendas"
            },
            {
              "name": "contact.voc_trabalha_com_carto_de_crdito"
            },
            {
              "name": "contact.quanto_tempo_trabalha_com_vendas"
            },
            {
              "name": "contact.o_que_mais_te_atrai_na_oportunidade_de_revender_semijoias_no_consignado"
            },
            {
              "name": "contact.voc_j_trabalhou_com_produtos_no_consignado"
            },
            {
              "name": "contact.quais_produtos_voc_j_vendeu_antes"
            },
            {
              "name": "contact.como_voc_lida_com_compromissos_financeiros_e_prazos_de_pagamento"
            },
            {
              "name": "contact.contato__01"
            },
            {
              "name": "contact.contato_02"
            },
            {
              "name": "contact.contato__03"
            },
            {
              "name": "contact.caso_uma_cliente_compre_e_no_pague_de_onde_voc_pretende_tirar_os_recursos_para_cobrir_essa_dvida"
            },
            {
              "name": "contact.voc_possui_algum_trabalho_atualmente"
            },
            {
              "name": "contact.com_o_que_trabalha"
            },
            {
              "name": "contact.quanto_tempo_na_semana_voc_est_disposta_a_dedicar_para_vender_as_semijoias"
            },
            {
              "name": "contact.quais_desafios_voc_acha_que_pode_enfrentar_o_comear_como_revendedora_e_como_pretende_superlos"
            },
            {
              "name": "contact.voc_est_pronta_para_comear_imediatamente_caso_seja_aprovada\",       \"field_value"
            },
            {
              "name": "contact.voc_est_disposta_a_participar_de_treinamentos_para_aprender_mais_sobre_as_vendas_e_produtos"
            },
            {
              "name": "contact.como_voc_pretende_divulgar_e_vender_as_semijoias"
            },
            {
              "name": "contact.cpf"
            },
            {
              "name": "conversationHistory"
            },
            {
              "name": "Você se considera uma pessoa responsável e de confiança? Por quê?"
            },
            {
              "name": "Endereço do trabalho"
            },
            {
              "name": "Endereço residencial com número"
            },
            {
              "name": "descreva o que faz no emprego"
            },
            {
              "name": "Para finalizar leia e aceite os termos"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -380,
        940
      ],
      "id": "54d6dbb7-b008-4989-9af8-c3a5ba2ad271",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "url": "https://rest.gohighlevel.com/v1/custom-fields",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "highLevelApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2NhdGlvbl9pZCI6Im01NTFjQkJNSElNTGpQSFVYeU81IiwidmVyc2lvbiI6MSwiaWF0IjoxNzQyNDI1MTg1MzYzLCJzdWIiOiJXcVVES29hTm5wQXBneDV2UDBVbCJ9.b8uy3N_R2-IpTKTutzpP4Coi86n1o0_0LHsuK0L0bro"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        580
      ],
      "id": "5ae0c995-56d4-427b-b1f2-3378b9861935",
      "name": "HTTP Request",
      "credentials": {
        "highLevelApi": {
          "id": "nTI2khzYnfGc1Q8D",
          "name": "API -DeBona"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Ferramentas de contatos",
        "height": 640,
        "width": 2180,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -460,
        480
      ],
      "typeVersion": 1,
      "id": "4b8053c7-33a6-416e-a0b5-fe6788b8c19b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        80,
        1200
      ],
      "id": "13f7a079-cbfb-46df-9dcd-4795c84965f1",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Estou com esse erro: {{ $json.execution.error.stack }}",
        "options": {
          "systemMessage": "Você é um agente especializado em resolver erro do n8n.\nVocê tem toda a documentação na \"baseConhecimento\".\n\nChame a tool \"baseConhecimento\" para obter a solução para este erro."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        480,
        1200
      ],
      "id": "cb13f48f-75a8-49e6-ac52-ec19a8bd6b5a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "match_assistant_n8n",
        "toolDescription": "Buscar informações sobre o n8n",
        "tableName": {
          "__rl": true,
          "value": "assistant_n8n",
          "mode": "list",
          "cachedResultName": "assistant_n8n"
        },
        "options": {
          "queryName": "match_assistant_n8n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        740,
        1400
      ],
      "id": "14d45321-ad77-409c-82b2-145e2cb7b548",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "MmwWW5IYycE2AaDQ",
          "name": "Ag. OndaIA"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        840,
        1580
      ],
      "id": "cf6801bc-7910-41c7-bebe-e44f49d0fc32",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "3KUgCv31pjbgxYGk",
          "name": "EscalaMax"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "268e2638-88fc-445c-9716-08fe51660dc3",
              "name": "execution.url",
              "value": "={{ $json.execution.url }}",
              "type": "string"
            },
            {
              "id": "0cc51b04-fb91-4af5-92a7-a459334d6e67",
              "name": "execution.error.message",
              "value": "={{ $json.execution.error.message }}",
              "type": "string"
            },
            {
              "id": "aa5851cd-c127-4fcd-b4a1-5567c2ca5942",
              "name": "execution.error.stack",
              "value": "={{ $json.execution.error.stack }}",
              "type": "string"
            },
            {
              "id": "1da5bad4-1f7a-41c0-a0b0-cdd58f34616a",
              "name": "workflow.name",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        1200
      ],
      "id": "ea3d13f0-a55b-4083-962c-d8284b54b81a",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "suporteondaia",
        "remoteJid": "5567999308787",
        "messageText": "=Workflow: {{ $('Edit Fields4').item.json.workflow.name }}\n\nMensagem de erro : {{ $('Edit Fields4').item.json.execution.error.stack }}\n\nacesse o link para erro: {{ $('Edit Fields4').item.json.execution.url }}\n\nlog do erro: \n{{ $('Error Trigger').item.json.execution.error.errno }}\n{{ $('Error Trigger').item.json.execution.error.code }}\n{{ $('Error Trigger').item.json.execution.error.syscall }}\n{{ $('Error Trigger').item.json.execution.error.message }}\n\nResolução: {{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        840,
        1200
      ],
      "id": "20a8822e-3c5a-4d9b-a1c7-e6c4a20fefaa",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "KKh2QKWo3vqF000N",
          "name": "Agencia OndaIA"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        500,
        1380
      ],
      "id": "a303cead-5bbc-4775-b17a-a2d4affd8a85",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "OKBVbV3h0JCNgM8u",
          "name": "MaryJhon"
        }
      }
    },
    {
      "parameters": {
        "path": "alina_semi_joias",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -300,
        2120
      ],
      "id": "1696c380-5487-4865-815c-87893007cdc4",
      "name": "Webhook",
      "webhookId": "1ce69184-e137-4435-8330-853b0ea22d57"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1920,
        2120
      ],
      "id": "84499e68-764b-4aa5-98d6-5d07aa017d84",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7151d45b-619f-4fe5-87d8-0a43faf166f2",
              "name": "response",
              "value": "=número de telefone não tem Whatsapp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7188612c-b716-4942-8947-44ef948dc423",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        1720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5204bb98-c216-43c7-b7d6-c43d8ec122f0",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        60,
        2120
      ],
      "id": "8d5b8685-a21a-4a39-a006-96900f97b9c4",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1440,
        2120
      ],
      "id": "0ebd5625-f029-4cf4-a509-969b107a701c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "email": "={{ $('Webhook').item.json.body.email?.replace('YOU', '') ?? null }}",
        "phone": "={{ $json.number ?? null}}",
        "additionalFields": {
          "name": "={{ $('Webhook').item.json.body.nome ?? null }}",
          "tags": "atendida pela ia"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        1100,
        1880
      ],
      "id": "6536ee89-2fb4-4af1-9a25-f32daea85466",
      "name": "CreateContact1",
      "alwaysOutputData": true,
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "DIE67zIMAh6q3flN",
          "name": "Aline Concept"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "email": "={{ $('Execute Workflow Trigger').item.json.email.replace(/YOU/gi, '').trim() }}",
        "phone": "={{ $('Execute Workflow Trigger').item.json.phone }}",
        "additionalFields": {
          "address1": "={{ $('Execute Workflow Trigger').item.json.address1 }}",
          "city": "={{ $('Execute Workflow Trigger').item.json.city }}",
          "customFields": {
            "values": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "zXja0lR7TbjnZlLldDrQ",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.instagram'].replace(/YOU/gi, '') }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "3ncTkoYXEyc7c68Y3sfa",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.ja_trabalhou_com_vendas'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "apKjUBLBbTXlUvSXlRdz",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.quanto_tempo_trabalha_com_vendas'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "nStRyvSgHhWJIa7fUoPh",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.o_que_mais_te_atrai_na_oportunidade_de_revender_semijoias_no_consignado'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "OrPrWgUT5BWSO99515LB",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.voc_j_trabalhou_com_produtos_no_consignado'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "On7i1hVAcWNZ5tMCWGOL",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.quais_produtos_voc_j_vendeu_antes'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "5Zhhhapklj6WeRu8gmxY",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.como_voc_lida_com_compromissos_financeiros_e_prazos_de_pagamento'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "NUmnOAUx2wrpCo9MM4nh",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['Você se considera uma pessoa responsável e de confiança? Por quê?'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "cDEnpyUfQmh2V64sXsRE",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.contato__01'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "JqPFutud5YGraTc0Rf6i",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.contato_02'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "gJXBnLJop9tUO8ICm8Et",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.contato__03'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "wHX0zg4mj6hofX8VKw3M",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.caso_uma_cliente_compre_e_no_pague_de_onde_voc_pretende_tirar_os_recursos_para_cobrir_essa_dvida'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "4vfgbSYDgl0gQEAHK6c4",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.voc_possui_algum_trabalho_atualmente'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "V4Y6fs48hzrta2o8flLg",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.com_o_que_trabalha'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "mVQqDTIARtAuIy8MQpEm",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.quanto_tempo_na_semana_voc_est_disposta_a_dedicar_para_vender_as_semijoias'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "soBjJL6gvArc0bbin07t",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.quais_desafios_voc_acha_que_pode_enfrentar_o_comear_como_revendedora_e_como_pretende_superlos'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "9RUuRTRsUJhgcOJrBiRZ",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.voc_est_pronta_para_comear_imediatamente_caso_seja_aprovada\",       \"field_value'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "xA6dTzRThjsS8duFqcHN",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.voc_est_disposta_a_participar_de_treinamentos_para_aprender_mais_sobre_as_vendas_e_produtos'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "SoJwYYu3Jgc5t8Q3Ew23",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.como_voc_pretende_divulgar_e_vender_as_semijoias'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "rLvv89SVVC8Zhad0Ekw5",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.estado_civil'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "6Gx8JoUTv8dsLRy5crM8",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['contact.cpf'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "51lY8wZtHdJH95JDxxgX",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['Endereço do trabalho'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "UiEAMxgnO9wC04lJBcf8",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['Endereço residencial com número'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "NcybLaphcZlg1dB9EV9a",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['descreva o que faz no emprego'] }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "SfCXFY2hPWuqR8BZ3AK5",
                  "mode": "id"
                },
                "fieldValue": "={{ $('Execute Workflow Trigger').item.json['Para finalizar leia e aceite os termos'] }}"
              }
            ]
          },
          "firstName": "={{ $('Execute Workflow Trigger').item.json.firstname }}",
          "lastName": "={{ $('Execute Workflow Trigger').item.json.lastname }}",
          "postalCode": "={{ $json.postalCode }}",
          "source": "Entrevista com o IA",
          "state": "={{ $json.state }}",
          "notes": "={{ $json.dateOfBirth }}",
          "tags": "registro finalizado"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        1120,
        2140
      ],
      "id": "d28668ff-e0f2-4c05-90d5-30d922b6a3b4",
      "name": "UpdateContacts1",
      "alwaysOutputData": true,
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "DIE67zIMAh6q3flN",
          "name": "Aline Concept"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "query": "={{ $json.body.nome ?? null}}"
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        -100,
        2120
      ],
      "id": "a2d275d8-e596-45ab-8fc3-e9c96b68386d",
      "name": "Busca1",
      "alwaysOutputData": true,
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "DIE67zIMAh6q3flN",
          "name": "Aline Concept"
        }
      }
    },
    {
      "parameters": {
        "content": "# Verifica whatsapp",
        "height": 280,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        360,
        1800
      ],
      "typeVersion": 1,
      "id": "0af10117-2751-4f64-8aa7-1c58faeed975",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.escamax1.automacao360.com/chat/whatsappNumbers/alinajoias",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=239A1C16855D73C57525DD951AC3C"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numbers\": [\n    \"{{ $json.phone }}\"\n  ]\n}",
        "options": {}
      },
      "id": "1baa66bf-c784-4e19-8166-469617eda700",
      "name": "Whatsapp válido?1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        600,
        1900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"exists\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "bcfdae6d-ace5-4d3b-9864-57e873bab590",
      "name": "É válido?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        780,
        1900
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7151d45b-619f-4fe5-87d8-0a43faf166f2",
              "name": "response",
              "value": "={{ $item(\"0\").$node[\"Merge1\"].json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "121ac532-9a88-4d70-a18a-6b5a7d9ef0b5",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1620,
        2120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10772c94-caa3-4d05-b687-10bf15a12e69",
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.whatsapp.startsWith('+55') ? $('Webhook').item.json.body.whatsapp : '+55' + $('Webhook').item.json.body.whatsapp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        1900
      ],
      "id": "7b3e9001-00a8-4401-9232-84262cb96b88",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "url": "https://rest.gohighlevel.com/v1/custom-fields",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "highLevelApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2NhdGlvbl9pZCI6Im01NTFjQkJNSElNTGpQSFVYeU81IiwidmVyc2lvbiI6MSwiaWF0IjoxNzQyNDI1MTg1MzYzLCJzdWIiOiJXcVVES29hTm5wQXBneDV2UDBVbCJ9.b8uy3N_R2-IpTKTutzpP4Coi86n1o0_0LHsuK0L0bro"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        1760
      ],
      "id": "2d8dd835-875e-4f3a-a196-a7521b5e86e5",
      "name": "HTTP Request1",
      "credentials": {
        "highLevelApi": {
          "id": "nTI2khzYnfGc1Q8D",
          "name": "API -DeBona"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Ferramentas de contatos",
        "height": 640,
        "width": 2180,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -360,
        1660
      ],
      "typeVersion": 1,
      "id": "a2a1dff3-1427-48fc-9ca5-ab33ccb44b4f",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UpdateContacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateContact": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateContacts": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Busca": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp válido?": {
      "main": [
        [
          {
            "node": "É válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É válido?": {
      "main": [
        [
          {
            "node": "CreateContact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CreateContact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Whatsapp válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Busca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Busca1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UpdateContacts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateContact1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateContacts1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Busca1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp válido?1": {
      "main": [
        [
          {
            "node": "É válido?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É válido?1": {
      "main": [
        [
          {
            "node": "CreateContact1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Whatsapp válido?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "xE00zQwUnJwp2PIx"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "HTTP Request": [
      {
        "json": {
          "customFields": [
            {
              "id": "rLvv89SVVC8Zhad0Ekw5",
              "name": "Estado civil",
              "fieldKey": "contact.estado_civil",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 50
            },
            {
              "id": "zXja0lR7TbjnZlLldDrQ",
              "name": "instagram",
              "fieldKey": "contact.instagram",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 150
            },
            {
              "id": "3ncTkoYXEyc7c68Y3sfa",
              "name": "Você já trabalhou com vendas antes?",
              "fieldKey": "contact.voc_j_trabalhou_com_vendas_antes",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 100
            },
            {
              "id": "apKjUBLBbTXlUvSXlRdz",
              "name": "há quanto tempo trabalha com vendas?",
              "fieldKey": "contact.h_quanto_tempo_trabalha_com_vendas",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 150
            },
            {
              "id": "nStRyvSgHhWJIa7fUoPh",
              "name": "O que mais te atrai na oportunidade de revender semijoias no consignado?",
              "fieldKey": "contact.o_que_mais_te_atrai_na_oportunidade_de_revender_semijoias_no_consignado",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 200
            },
            {
              "id": "OrPrWgUT5BWSO99515LB",
              "name": "Você já trabalhou com produtos no consignado antes?",
              "fieldKey": "contact.voc_j_trabalhou_com_produtos_no_consignado_antes",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 250
            },
            {
              "id": "On7i1hVAcWNZ5tMCWGOL",
              "name": "Quais produtos você já vendeu antes?",
              "fieldKey": "contact.quais_produtos_voc_j_vendeu_antes",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 300
            },
            {
              "id": "5Zhhhapklj6WeRu8gmxY",
              "name": "Como você lida com compromissos financeiros e prazos de pagamento?",
              "fieldKey": "contact.como_voc_lida_com_compromissos_financeiros_e_prazos_de_pagamento",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 350
            },
            {
              "id": "NUmnOAUx2wrpCo9MM4nh",
              "name": "Você se considera uma pessoa responsável e de confiança? Por quê?",
              "fieldKey": "contact.voc_se_considera_uma_pessoa_responsvel_e_de_confiana_por_qu",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 400
            },
            {
              "id": "cDEnpyUfQmh2V64sXsRE",
              "name": "Referência 01",
              "fieldKey": "contact.referncia_01",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 450
            },
            {
              "id": "JqPFutud5YGraTc0Rf6i",
              "name": "Referência 02",
              "fieldKey": "contact.referncia_02",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 500
            },
            {
              "id": "gJXBnLJop9tUO8ICm8Et",
              "name": "Referência 03",
              "fieldKey": "contact.referncia_03",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 550
            },
            {
              "id": "wHX0zg4mj6hofX8VKw3M",
              "name": "Caso uma cliente compre e não pague, de onde você pretende tirar os recursos para cobrir essa dívida?",
              "fieldKey": "contact.caso_uma_cliente_compre_e_no_pague_de_onde_voc_pretende_tirar_os_recursos_para_cobrir_essa_dvida",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 600
            },
            {
              "id": "4vfgbSYDgl0gQEAHK6c4",
              "name": "Você possui algum emprego atualmente?",
              "fieldKey": "contact.voc_possui_algum_emprego_atualmente",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 650
            },
            {
              "id": "51lY8wZtHdJH95JDxxgX",
              "name": "Endereço do trabalho",
              "fieldKey": "contact.endereo_do_trabalho",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 700
            },
            {
              "id": "UiEAMxgnO9wC04lJBcf8",
              "name": "Endereço residencial com número",
              "fieldKey": "contact.endereo_residencial_com_nmero",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 750
            },
            {
              "id": "NcybLaphcZlg1dB9EV9a",
              "name": "descreva o que faz no emprego",
              "fieldKey": "contact.descreva_o_que_faz_no_emprego",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 800
            },
            {
              "id": "mVQqDTIARtAuIy8MQpEm",
              "name": "Quanto tempo por semana você está disposta a dedicar para vender as semijoias?",
              "fieldKey": "contact.quanto_tempo_por_semana_voc_est_disposta_a_dedicar_para_vender_as_semijoias",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 850
            },
            {
              "id": "SoJwYYu3Jgc5t8Q3Ew23",
              "name": "Como você pretende divulgar e vender as semijoias?",
              "fieldKey": "contact.como_voc_pretende_divulgar_e_vender_as_semijoias",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 900
            },
            {
              "id": "soBjJL6gvArc0bbin07t",
              "name": "Quais desafios você acha que pode enfrentar ao começar como revendedora e como pretende superá-los?",
              "fieldKey": "contact.quais_desafios_voc_acha_que_pode_enfrentar_ao_comear_como_revendedora_e_como_pretende_superlos",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 950
            },
            {
              "id": "9RUuRTRsUJhgcOJrBiRZ",
              "name": "Você está pronta para começar imediatamente, caso seja aprovada?",
              "fieldKey": "contact.voc_est_pronta_para_comear_imediatamente_caso_seja_aprovada",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 1000
            },
            {
              "id": "xA6dTzRThjsS8duFqcHN",
              "name": "Você está disposta a participar de treinamentos para aprender mais sobre as vendas e o produto?",
              "fieldKey": "contact.voc_est_disposta_a_participar_de_treinamentos_para_aprender_mais_sobre_as_vendas_e_o_produto",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 1050
            },
            {
              "id": "SfCXFY2hPWuqR8BZ3AK5",
              "name": "Para finalizar leia e aceite os termos",
              "fieldKey": "contact.para_finalizar_leia_e_aceite_os_termos",
              "placeholder": "",
              "dataType": "CHECKBOX",
              "position": 1100,
              "picklistOptions": [
                "Aceito",
                "Não aceito"
              ]
            }
          ]
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.escamax1.automacao360.com",
            "user-agent": "axios/1.8.3",
            "content-length": "113",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhook.escamax1.automacao360.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "1e5eb03f4121",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "operação": "criar",
            "nome": "Erica Coelho boeira",
            "whatsapp": "+554999989136",
            "email": "Coelhoerica241@YOUgmail.com"
          },
          "webhookUrl": "https://webhook.escamax1.automacao360.com/webhook/alina_semi_joias",
          "executionMode": "production"
        }
      }
    ],
    "HTTP Request1": [
      {
        "json": {
          "customFields": [
            {
              "id": "rLvv89SVVC8Zhad0Ekw5",
              "name": "Estado civil",
              "fieldKey": "contact.estado_civil",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 50
            },
            {
              "id": "zXja0lR7TbjnZlLldDrQ",
              "name": "instagram",
              "fieldKey": "contact.instagram",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 150
            },
            {
              "id": "3ncTkoYXEyc7c68Y3sfa",
              "name": "Você já trabalhou com vendas antes?",
              "fieldKey": "contact.voc_j_trabalhou_com_vendas_antes",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 100
            },
            {
              "id": "apKjUBLBbTXlUvSXlRdz",
              "name": "há quanto tempo trabalha com vendas?",
              "fieldKey": "contact.h_quanto_tempo_trabalha_com_vendas",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 150
            },
            {
              "id": "nStRyvSgHhWJIa7fUoPh",
              "name": "O que mais te atrai na oportunidade de revender semijoias no consignado?",
              "fieldKey": "contact.o_que_mais_te_atrai_na_oportunidade_de_revender_semijoias_no_consignado",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 200
            },
            {
              "id": "OrPrWgUT5BWSO99515LB",
              "name": "Você já trabalhou com produtos no consignado antes?",
              "fieldKey": "contact.voc_j_trabalhou_com_produtos_no_consignado_antes",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 250
            },
            {
              "id": "On7i1hVAcWNZ5tMCWGOL",
              "name": "Quais produtos você já vendeu antes?",
              "fieldKey": "contact.quais_produtos_voc_j_vendeu_antes",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 300
            },
            {
              "id": "5Zhhhapklj6WeRu8gmxY",
              "name": "Como você lida com compromissos financeiros e prazos de pagamento?",
              "fieldKey": "contact.como_voc_lida_com_compromissos_financeiros_e_prazos_de_pagamento",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 350
            },
            {
              "id": "NUmnOAUx2wrpCo9MM4nh",
              "name": "Você se considera uma pessoa responsável e de confiança? Por quê?",
              "fieldKey": "contact.voc_se_considera_uma_pessoa_responsvel_e_de_confiana_por_qu",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 400
            },
            {
              "id": "cDEnpyUfQmh2V64sXsRE",
              "name": "Referência 01",
              "fieldKey": "contact.referncia_01",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 450
            },
            {
              "id": "JqPFutud5YGraTc0Rf6i",
              "name": "Referência 02",
              "fieldKey": "contact.referncia_02",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 500
            },
            {
              "id": "gJXBnLJop9tUO8ICm8Et",
              "name": "Referência 03",
              "fieldKey": "contact.referncia_03",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 550
            },
            {
              "id": "wHX0zg4mj6hofX8VKw3M",
              "name": "Caso uma cliente compre e não pague, de onde você pretende tirar os recursos para cobrir essa dívida?",
              "fieldKey": "contact.caso_uma_cliente_compre_e_no_pague_de_onde_voc_pretende_tirar_os_recursos_para_cobrir_essa_dvida",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 600
            },
            {
              "id": "4vfgbSYDgl0gQEAHK6c4",
              "name": "Você possui algum emprego atualmente?",
              "fieldKey": "contact.voc_possui_algum_emprego_atualmente",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 650
            },
            {
              "id": "51lY8wZtHdJH95JDxxgX",
              "name": "Endereço do trabalho",
              "fieldKey": "contact.endereo_do_trabalho",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 700
            },
            {
              "id": "UiEAMxgnO9wC04lJBcf8",
              "name": "Endereço residencial com número",
              "fieldKey": "contact.endereo_residencial_com_nmero",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 750
            },
            {
              "id": "NcybLaphcZlg1dB9EV9a",
              "name": "descreva o que faz no emprego",
              "fieldKey": "contact.descreva_o_que_faz_no_emprego",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 800
            },
            {
              "id": "mVQqDTIARtAuIy8MQpEm",
              "name": "Quanto tempo por semana você está disposta a dedicar para vender as semijoias?",
              "fieldKey": "contact.quanto_tempo_por_semana_voc_est_disposta_a_dedicar_para_vender_as_semijoias",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 850
            },
            {
              "id": "SoJwYYu3Jgc5t8Q3Ew23",
              "name": "Como você pretende divulgar e vender as semijoias?",
              "fieldKey": "contact.como_voc_pretende_divulgar_e_vender_as_semijoias",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 900
            },
            {
              "id": "soBjJL6gvArc0bbin07t",
              "name": "Quais desafios você acha que pode enfrentar ao começar como revendedora e como pretende superá-los?",
              "fieldKey": "contact.quais_desafios_voc_acha_que_pode_enfrentar_ao_comear_como_revendedora_e_como_pretende_superlos",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 950
            },
            {
              "id": "9RUuRTRsUJhgcOJrBiRZ",
              "name": "Você está pronta para começar imediatamente, caso seja aprovada?",
              "fieldKey": "contact.voc_est_pronta_para_comear_imediatamente_caso_seja_aprovada",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 1000
            },
            {
              "id": "xA6dTzRThjsS8duFqcHN",
              "name": "Você está disposta a participar de treinamentos para aprender mais sobre as vendas e o produto?",
              "fieldKey": "contact.voc_est_disposta_a_participar_de_treinamentos_para_aprender_mais_sobre_as_vendas_e_o_produto",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 1050
            },
            {
              "id": "SfCXFY2hPWuqR8BZ3AK5",
              "name": "Para finalizar leia e aceite os termos",
              "fieldKey": "contact.para_finalizar_leia_e_aceite_os_termos",
              "placeholder": "",
              "dataType": "CHECKBOX",
              "position": 1100,
              "picklistOptions": [
                "Aceito",
                "Não aceito"
              ]
            }
          ]
        }
      }
    ]
  },
  "versionId": "9f4419ca-51ad-4eed-9963-bd6a83d3908d",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-03-19T22:09:50.746Z",
      "updatedAt": "2025-03-19T22:09:50.746Z",
      "id": "ym3kj9Zy8GL4TmL2",
      "name": "Alina Semijoias"
    }
  ]
}