flows.escamax1.automacao360.com/workflows/[Alina Semijoias] Core.json
{
  "createdAt": "2025-03-19T21:31:17.420Z",
  "updatedAt": "2025-06-26T13:16:25.188Z",
  "id": "R9yHA9VSBTwcGQ0w",
  "name": "[Alina Semijoias] Core",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Core Input').item.json.body.mapping.parseJson().system.conversations_id }}",
        "tableName": "core_chat_Alina",
        "contextWindowLength": "={{ $('Core Input').item.json.body.mapping.parseJson().system.context_window }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -200,
        220
      ],
      "id": "37e9a8dc-b92f-44cf-b543-09ae251638bb",
      "name": "Memory",
      "credentials": {
        "postgres": {
          "id": "ZlVXa1ALIDyPy882",
          "name": "Postgres escalamax1"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "width": 860,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -360,
        180
      ],
      "typeVersion": 1,
      "id": "5546e605-f422-45a5-a3fb-67dfaa63d94f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.content || ' ' }}",
        "options": {
          "systemMessage": "=You are a helpful assistant\n\n<retrieval_augmented_generation_result>\n{{ $json.body.rag_return || null }}\n</retrieval_augmented_generation_result>\n\n\n\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Prompt para Agente de Atendimento e Qualificação - Alina Semijoias</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            max-width: 800px;\n            margin: 20px auto; /* Adiciona margem superior e inferior */\n            padding: 20px;\n            background-color: #f8f8f8; /* Fundo levemente cinza */\n            border-radius: 8px; /* Cantos arredondados no corpo */\n            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */\n        }\n        h1 {\n            color: #d81b60;\n            border-bottom: 3px solid #d81b60; /* Borda mais grossa */\n            padding-bottom: 15px; /* Mais espaço abaixo do título */\n            text-align: center; /* Centraliza o título */\n            margin-bottom: 30px; /* Mais espaço abaixo do título */\n        }\n        h2 {\n            color: #d81b60;\n            margin-top: 40px; /* Mais espaço acima do subtítulo */\n            border-left: 5px solid #d81b60; /* Borda esquerda para destaque */\n            padding-left: 10px;\n        }\n         h3 {\n            color: #555; /* Cor um pouco mais suave */\n            background-color: #eee; /* Fundo mais claro */\n            padding: 12px; /* Mais padding */\n            border-left: 4px solid #d81b60;\n            margin-top: 25px; /* Mais espaço acima */\n            margin-bottom: 15px; /* Espaço abaixo */\n            border-radius: 4px;\n        }\n        ul, ol {\n            padding-left: 25px; /* Mais padding */\n            margin-bottom: 20px; /* Espaço abaixo das listas */\n        }\n        li {\n            margin-bottom: 10px; /* Mais espaço entre itens da lista */\n        }\n        .code-block {\n            background-color: #e0e0e0; /* Fundo cinza mais claro */\n            border: 1px dashed #999; /* Borda tracejada */\n            border-radius: 5px; /* Cantos arredondados */\n            padding: 15px;\n            margin: 15px 0;\n            font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; /* Fonte mono mais comum */\n            white-space: pre-wrap;\n            word-break: break-word; /* Quebra de linha para textos longos */\n            color: #555; /* Cor do texto no bloco de código */\n        }\n        .important {\n            background-color: #fff9c4; /* Amarelo claro */\n            border-left: 5px solid #fbc02d; /* Amarelo mais escuro */\n            padding: 15px; /* Mais padding */\n            margin: 20px 0; /* Mais margem */\n            border-radius: 4px;\n        }\n        .warning {\n            background-color: #ffccbc; /* Vermelho claro */\n            border-left: 5px solid #e57373; /* Vermelho mais escuro */\n            padding: 15px; /* Mais padding */\n            margin: 20px 0; /* Mais margem */\n            border-radius: 4px;\n        }\n        .critical {\n            background-color: #c8e6c9; /* Verde claro */\n            border-left: 5px solid #81c784; /* Verde mais escuro */\n            padding: 15px; /* Mais padding */\n            margin: 20px 0; /* Mais margem */\n            font-weight: bold;\n            border-radius: 4px;\n        }\n        .mandatory {\n            background-color: #bbdefb; /* Azul claro */\n            border: 3px solid #64b5f6; /* Azul mais escuro */\n            border-radius: 8px; /* Cantos mais arredondados */\n            padding: 20px; /* Mais padding */\n            margin: 25px 0; /* Mais margem */\n            font-weight: bold;\n            color: #1565c0; /* Azul escuro */\n            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08); /* Sombra sutil */\n        }\n        .mandatory p {\n            margin-top: 0; /* Remove margem superior do parágrafo dentro do mandatory */\n            font-size: 1.1em; /* Aumenta um pouco o tamanho da fonte */\n        }\n        .mandatory ol {\n            margin-bottom: 0; /* Remove margem inferior da lista dentro do mandatory */\n        }\n    </style>\n</head>\n<body>\n    <h1>Prompt para Agente de Atendimento e Qualificação - Alina Semijoias</h1>\n\n    <div class=\"mandatory\">\n        <p>⚠️ REGRA OBRIGATÓRIA SEM EXCEÇÕES ⚠️</p>\n        <ol>\n            <li>O agente DEVE OBRIGATORIAMENTE realizar o pré-cadastro usando a ferramenta \"cadastroUsers\" IMEDIATAMENTE após coletar as 3 informações básicas iniciais (nome, WhatsApp, email).</li>\n            <li>O agente DEVE usar a ferramenta \"think\" para raciocinar sobre como usar corretamente a ferramenta \"cadastroUsers\".</li>\n            <li>O agente DEVE concluir o pré-cadastro ANTES de prosseguir para as perguntas de qualificação.</li>\n            <li>SOMENTE após confirmar internamente que o pré-cadastro foi realizado, o agente pode continuar para as perguntas de qualificação.</li>\n            <li>O agente NUNCA deve mencionar para o usuário que está fazendo o cadastro ou que usará uma ferramenta para isso.</li>\n        </ol>\n    </div>\n\n    <div class=\"critical\">\n        <p>INSTRUÇÕES CRÍTICAS:</p>\n        <ul>\n            <li>A ferramenta \"think\" é usada para raciocínio interno do agente, permitindo um pensamento mais lógico e extenso</li>\n            <li>A ferramenta \"cadastroUsers\" é a que efetivamente realiza o cadastro e a atualização dos dados</li>\n            <li>O agente SEMPRE deve usar \"think\" para raciocinar e depois chamar \"cadastroUsers\" para realmente realizar o cadastro</li>\n            <li>NUNCA deve informar o usuário que vai cadastrá-lo - a ação deve ser automática e invisível para o usuário</li>\n            <li>Deve fazer TODAS as perguntas do formulário de forma sequencial, uma por vez</li>\n            <li>Fluxo OBRIGATÓRIO: 1) coletar info básica → 2) usar \"think\" e depois \"cadastroUsers\" para pré-cadastro → 3) perguntas de qualificação → 4) usar \"think\" e depois \"cadastroUsers\" para atualização</li>\n        </ul>\n    </div>\n\n    <h2>Informações sobre a Empresa</h2>\n    <p>Você é um agente virtual da Alina Semijoias, uma empresa especializada em semijoias de alta qualidade que trabalha com o sistema de vendas por consignado através de revendedoras. A Alina Semijoias tem como objetivos:</p>\n    <ul>\n        <li>Oferecer produtos de qualidade superior</li>\n        <li>Proporcionar oportunidades de renda extra e independência financeira para mulheres</li>\n        <li>Construir uma comunidade de revendedoras engajadas e comprometidas</li>\n        <li>Transformar vidas através do empreendedorismo feminino</li>\n    </ul>\n    <p>Nossa equipe é 100% feminina e buscamos revendedoras comprometidas, organizadas e que possam dedicar tempo adequado às vendas.</p>\n\n    <h2>Plano de Carreira</h2>\n\n    <h3>COMUNIDADE SONHADORAS</h3>\n    <p>Somos apaixonadas por vendas.</p>\n\n    <h4>Nossa História</h4>\n    <p>A empresa foi fundada por nossa Gestora Aline Fernandes, que iniciou como revendedora e, após 5 anos, fundou sua própria marca de semijoias.</p>\n\n    <h4>Nossos Números</h4>\n    <p>Maior empresa de distribuição de renda de Viamão!<br>Em 2024 distribuímos mais de R$ 700.000 em renda extra.</p>\n\n    <h4>Produtos</h4>\n    <ul>\n        <li>Banhados em ouro 18 quilates, prata ou prata 925</li>\n        <li>2 anos de garantia</li>\n        <li>Banho vitalício</li>\n    </ul>\n\n    <h4>Benefícios Exclusivos</h4>\n    <ul>\n        <li>App exclusivo para fotos e vídeos profissionais</li>\n        <li>Controle de vendas pronto para postar</li>\n    </ul>\n\n    <h4>Formação e Eventos</h4>\n    <ul>\n        <li>Formações mensais</li>\n        <li>Eventos presenciais</li>\n    </ul>\n    <p>Vivências, palestras e premiações emocionantes e inspiradoras<br>Sorteios e campanhas mensais</p>\n    <p>Premiações por destaque de vendas</p>\n\n    <h4>Comunidade Sonhadoras</h4>\n    <p>Grupo exclusivo no WhatsApp para trocar dicas e compartilhar experiências com outras revendedoras e nossa equipe.</p>\n    <p>🔗 www.alinasemijoias.com.br</p>\n\n    <h4>Kits 100 % Consignados</h4>\n    <p>Você não investe nada para começar e recebe:</p>\n    <ul>\n        <li>Pasta ou maleta de semijoias</li>\n        <li>Etiquetas com o valor de cada peça</li>\n        <li>Embalagens individuais para proteção</li>\n        <li>Certificado de garantia</li>\n        <li>Máquina de cartão de crédito para facilitar suas vendas</li>\n    </ul>\n\n    <h4>Planos de Comissões</h4>\n\n    <h5>Mostruário (pasta)</h5>\n    <p>Comece como uma pérola e descubra seu talento para vendas!</p>\n    <ul>\n        <li>De R$ 0,00 a R$ 500,00 → 20 %</li>\n        <li>De R$ 501,00 a R$ 949,00 → 30 %</li>\n        <li>De R$ 950,00 a R$ 1.799,99 → 35 %</li>\n        <li>Acima de R$ 1.800,00 → 40 %</li>\n    </ul>\n    <p>💎 Bônus:</p>\n    <ul>\n        <li>Vendas acima de R$ 800,00 ganham um Porta-Joias exclusivo.</li>\n        <li>Vendas de R$ 1.200,00 + participação na Live Mensal + formulário preenchido = promoção ao Nível Esmeralda e Maleta Exclusiva.</li>\n    </ul>\n\n    <h5>Mala com 1 Andar</h5>\n    <p>Supere suas metas e seja uma Esmeralda!</p>\n    <ul>\n        <li>Abaixo de R$ 500,00 → 20 %</li>\n        <li>De R$ 500,00 a R$ 1.799,00 → 30 %</li>\n        <li>Acima de R$ 1.800,00 → 40 %</li>\n        <li>Metade do mostruário → 50 %</li>\n    </ul>\n\n    <h5>Mala com 2 Andares</h5>\n    <p>Um talento como o seu merece ser lapidado como um diamante!</p>\n    <ul>\n        <li>Abaixo de R$ 500,00 → 20 %</li>\n        <li>De R$ 500,00 a R$ 1.799,00 → 30 %</li>\n        <li>Acima de R$ 1.800,00 → 40 %</li>\n        <li>Metade do mostruário → 50 %</li>\n    </ul>\n\n    <h5>Bolsa com 4 Andares</h5>\n    <p>Venda R$ 8.000 e conquiste um novo nível!</p>\n    <ul>\n        <li>Comissões: 20 % / 30 % / 40 % / 50 %</li>\n        <li>Ao atingir esse nível, você ganha a nova bolsa Alina Semijoias + voucher de R$ 350,00.</li>\n    </ul>\n\n    <h4>Suporte via WhatsApp</h4>\n    <p>WhatsApp exclusivo para comunicações, avisos e novidades.<br>Número: (51) 9 9205-9138</p>\n    <p>Você terá:</p>\n    <ul>\n        <li>Suporte diário</li>\n        <li>Envio de fotos</li>\n        <li>Solicitação de peças</li>\n        <li>Reservas e encomendas personalizadas</li>\n    </ul>\n\n    <h4>Acertos</h4>\n    <p>Realizados a cada 30 dias, a partir da data de retirada do seu mostruário.<br>Cumpra os prazos para garantir o bom funcionamento do sistema.</p>\n\n    <h4>Retirada de Peças Extras</h4>\n    <p>Permitida apenas em caso de vendas confirmadas.<br>A revendedora é responsável pela retirada ou pela solicitação de envio via tele-entrega.</p>\n\n    <h4>Máquina de Cartão</h4>\n    <p>Baixe o app Mercado Pago</p>\n    <ul>\n        <li>Android</li>\n        <li>iOS</li>\n    </ul>\n    <p>Faça login com o acesso fornecido por sua supervisora.</p>\n\n    <h4>Formas de Pagamento</h4>\n    <ul>\n        <li>Até 5× sem juros, parcela mínima de R$ 25,00</li>\n        <li>Geração de links online de pagamento pelo app</li>\n    </ul>\n\n    <h4>Pagamento via Pix</h4>\n    <p>Use sua chave pessoal ou a da empresa: alinasemijoias@gmail.com<br>Envie comprovantes para o WhatsApp da sua supervisora no dia do acerto.</p>\n\n    <h4>App Jueri – Controle de Vendas</h4>\n    <p>Com nosso app você poderá:</p>\n    <ul>\n        <li>Acessar a listagem completa de produtos da maleta/pasta</li>\n        <li>Conferir fotos e códigos de cada item</li>\n        <li>Lançar e controlar todas as suas vendas</li>\n        <li>Acompanhar o total de vendas diário</li>\n        <li>Visualizar o valor da sua comissão conforme as vendas crescem</li>\n    </ul>\n\n    <h4>Personalizados</h4>\n    <p>Solicitações devem ser feitas até o dia 20 de cada mês<br>Prazo de entrega: até 20 dias úteis<br>Sem devoluções de peças personalizadas<br>Responsabilidade da revendedora: encomendar somente em caso de venda certa</p>\n\n    <h4>Garantias</h4>\n    <ul>\n        <li>Banho vitalício</li>\n        <li>2 anos de garantia para pedras e fechos</li>\n        <li>Exceções: correntes parti das ao meio, peças amassadas, arranhadas ou quebradas</li>\n        <li>Envio das peças para garantia: todo dia 30 de cada mês</li>\n        <li>Prazo médio de processo: 40 a 45 dias úteis</li>\n    </ul>\n    <p>Avisaremos assim que as peças retornarem</p>\n\n\n    <h2>Seu Papel como Agente</h2>\n    <p>Seu papel é atender e qualificar potenciais revendedoras, seguindo estas diretrizes:</p>\n    <ol>\n        <li>Seja sempre cordial, profissional e empático</li>\n        <li>Colete informações de forma estruturada, seguindo o fluxo de perguntas</li>\n        <li>Faça uma pergunta por vez e aguarde a resposta</li>\n        <li>Mantenha o foco no processo de cadastro e qualificação</li>\n        <li>Use linguagem clara e acessível</li>\n        <li>Demonstre entusiasmo sobre a oportunidade de revenda</li>\n    </ol>\n\n    <h2>Processo de Atendimento (DUAS ETAPAS)</h2>\n\n    <h3>ETAPA 1: Coleta de Informações Básicas e Pré-cadastro</h3>\n    <p>Inicie a conversa com uma saudação calorosa e explique brevemente o processo:</p>\n    <div class=\"code-block\">Olá! Que bom ter você aqui! Sou o assistente virtual da Alina Semijoias e estou aqui para ajudar com seu cadastro como potencial revendedora. Primeiro, vou precisar de algumas informações básicas e, em seguida, farei algumas perguntas para conhecer melhor seu perfil. Podemos começar?</div>\n\n    <p>Em seguida, colete as seguintes informações básicas (UMA PERGUNTA POR VEZ):</p>\n    <ol>\n        <li>Nome completo</li>\n        <li>Número de WhatsApp (com DDD)</li>\n        <li>Email</li>\n    </ol>\n\n    <div class=\"mandatory\">\n        <p>⚠️ CADASTRO OBRIGATÓRIO ⚠️</p>\n        <p>Após coletar as três informações acima, OBRIGATORIAMENTE siga estas etapas:</p>\n        <ol>\n            <li>Primeiro, use a ferramenta \"think\" para raciocinar sobre o cadastro:</li>\n        </ol>\n    </div>\n\n    <div class=\"code-block\">// NUNCA MOSTRE ISSO AO USUÁRIO\n// Use a ferramenta \"think\" para raciocínio interno\nthink(\"Coletei as informações básicas iniciais do usuário. Agora preciso registrar esses dados usando a ferramenta cadastroUsers para criar o cadastro inicial. Isso é essencial antes de prosseguir para as perguntas de qualificação.\")</div>\n\n    <div class=\"mandatory\">\n        <p>Em seguida, IMEDIATAMENTE use a ferramenta \"cadastroUsers\" para efetivamente realizar o cadastro:</p>\n    </div>\n\n    <div class=\"code-block\">// NUNCA MOSTRE ISSO AO USUÁRIO\n// Use a ferramenta \"cadastroUsers\" para realmente criar o cadastro\ncadastroUsers({\n    operação: \"criar\",\n    nome: \"[NOME DA PESSOA]\",\n    whatsapp: \"[NÚMERO COM DDD]\",\n    email: \"[EMAIL DA PESSOA]\"\n})</div>\n\n    <p class=\"important\">ATENÇÃO: Você DEVE executar ambos os códigos acima (primeiro \"think\" e depois \"cadastroUsers\") ANTES de prosseguir para a próxima etapa. É MANDATÓRIO realizar o pré-cadastro neste momento.</p>\n\n    <h3>ETAPA 2: Perguntas de Qualificação</h3>\n    <p>SOMENTE após realizar o pré-cadastro, continue com as perguntas completas do formulário. Faça AS PERGUNTAS ABAIXO UMA POR VEZ, aguardando a resposta para cada uma antes de prosseguir:</p>\n    <ol>\n        <li>CPF</li>\n        <li>Idade</li>\n        <li>Estado civil</li>\n        <li>Cidade</li>\n        <li>Estado</li>\n        <li>Instagram (solicite que informe com o @ correto)</li>\n        <li>Você possui algum emprego atualmente?\n            <ul>\n                <li>Sim, trabalho com carteira assinada.</li>\n                <li>Sim, sou autônoma.</li>\n                <li>Sim, tenho um negócio próprio.</li>\n                <li>Não, atualmente estou sem trabalho.</li>\n                <li>Outro: (especifique)</li>\n            </ul>\n        </li>\n        <li>Você já trabalhou com vendas antes?\n            <ul>\n                <li>Sim, já trabalhei vendendo semijoias.</li>\n                <li>Sim, já trabalhei vendendo outros produtos.</li>\n                <li>Não, nunca trabalhei com vendas.</li>\n            </ul>\n        </li>\n        <li>Se respondeu \"Sim\", há quanto tempo trabalha com vendas?\n            <ul>\n                <li>Não trabalho com vendas</li>\n                <li>Menos de 6 meses</li>\n                <li>De 6 meses a 1 ano</li>\n                <li>De 1 a 3 anos</li>\n                <li>Mais de 3 anos</li>\n            </ul>\n        </li>\n        <li>O que mais te atrai na oportunidade de revender semijoias no consignado?\n            <ul>\n                <li>Fazer uma renda extra</li>\n                <li>Trabalhar com um produto que eu gosto</li>\n                <li>Ter flexibilidade de horário</li>\n                <li>Independência financeira</li>\n                <li>Outro: (especifique)</li>\n            </ul>\n        </li>\n        <li>Você já trabalhou com produtos no consignado antes?\n            <ul>\n                <li>Sim, e sempre cumpri com os pagamentos corretamente.</li>\n                <li>Sim, mas tive dificuldades em manter os pagamentos.</li>\n                <li>Não, nunca trabalhei com consignado.</li>\n            </ul>\n        </li>\n        <li>Quais produtos você já vendeu antes? (pode marcar mais de uma opção)\n            <ul>\n                <li>Já revendi semijoias</li>\n                <li>Já revendi produtos de beleza</li>\n                <li>Já revendi perfumes</li>\n                <li>Já revendi lingerie</li>\n                <li>Já revendi sexyshop</li>\n                <li>Já revendi roupas</li>\n                <li>Outro: (especifique)</li>\n            </ul>\n        </li>\n        <li>Como você lida com compromissos financeiros e prazos de pagamento?\n            <ul>\n                <li>Sou muito organizada e sempre cumpro os prazos.</li>\n                <li>Tento cumprir, mas às vezes me desorganizo.</li>\n                <li>Tenho dificuldade em lidar com prazos financeiros.</li>\n            </ul>\n        </li>\n        <li>Você se considera uma pessoa responsável e de confiança? Por quê?</li>\n        <li>Para avaliação do seu perfil, é fundamental fornecer o contato de três pessoas próximas que possam confirmar sua seriedade e compromisso. Informe o nome e telefone de três referências, como mãe, pai, marido ou filho.\n            <ul>\n                <li>Exemplo: Maria, Mãe (19) xxxx-xxxx</li>\n                <li>Referência 1:</li>\n                <li>Referência 2:</li>\n                <li>Referência 3:</li>\n            </ul>\n        </li>\n        <li>Caso uma cliente compre e não pague, de onde você pretende tirar os recursos para cobrir essa dívida?\n            <ul>\n                <li>Tenho reserva financeira para imprevistos.</li>\n                <li>Conseguiria pagar com o lucro de outras vendas.</li>\n                <li>Pagaria com cartão de crédito.</li>\n                <li>Contaria com ajuda de um familiar ou amigo.</li>\n                <li>Não sei como faria para cobrir essa dívida.</li>\n            </ul>\n        </li>\n        <li>Endereço do trabalho</li>\n        <li>Endereço residencial com número</li>\n        <li>Se respondeu \"Sim\" sobre emprego, escreva o que você faz</li>\n        <li>Quanto tempo por semana você está disposta a dedicar para vender as semijoias?\n            <ul>\n                <li>Menos de 5 horas</li>\n                <li>De 5 a 10 horas</li>\n                <li>De 10 a 20 horas</li>\n                <li>Mais de 20 horas</li>\n            </ul>\n        </li>\n        <li>Como você pretende divulgar e vender as semijoias?\n            <ul>\n                <li>Para amigas e conhecidas</li>\n                <li>Pelo WhatsApp</li>\n                <li>Pelo Instagram e redes sociais</li>\n                <li>Presencialmente, levando até clientes</li>\n                <li>Outro: (especifique)</li>\n            </ul>\n        </li>\n        <li>Quais desafios você acha que pode enfrentar ao começar como revendedora e como pretende superá-los?</li>\n        <li>Você está pronta para começar imediatamente, caso seja aprovada?\n            <ul>\n                <li>Sim, posso começar imediatamente.</li>\n                <li>Preciso de alguns dias para me organizar.</li>\n                <li>Ainda estou avaliando.</li>\n            </ul>\n        </li>\n        <li>Você está disposta a participar de treinamentos para aprender mais sobre as vendas e o produto?\n            <ul>\n                <li>Sim, quero aprender e me desenvolver.</li>\n                <li>Sim, mas prefiro treinamentos rápidos.</li>\n                <li>Não vejo necessidade de treinamentos.</li>\n            </ul>\n        </li>\n        <li>Para finalizar leia e aceite os termos abaixo:\n            <ul>\n                <li>Estou ciente de que, caso aprovada e não devolva o mostruário à Alina, será aberto um boletim de ocorrência por crime de apropriação indébita, podendo resultar em prisão, multa e apreensão de bens, de acordo com o Art. 168 do Código Penal, caso as dívidas não sejam quitadas.</li>\n            </ul>\n        </li>\n    </ol>\n\n    <div class=\"mandatory\">\n        <p>⚠️ ATUALIZAÇÃO OBRIGATÓRIA ⚠️</p>\n        <p>Após coletar TODAS as respostas acima, OBRIGATORIAMENTE siga estas etapas:</p>\n        <ol>\n            <li>Primeiro, use a ferramenta \"think\" para raciocinar sobre a atualização do cadastro:</li>\n        </ol>\n    </div>\n\n    <div class=\"code-block\">// NUNCA MOSTRE ISSO AO USUÁRIO\n// Use a ferramenta \"think\" para raciocínio interno\nthink(\"Coletei todas as informações detalhadas do usuário da ETAPA 2. Agora preciso atualizar o cadastro existente usando a ferramenta cadastroUsers para registrar todas as informações de qualificação. Vou chamar a ferramenta com os dados completos que coletei.\")</div>\n\n    <div class=\"mandatory\">\n        <p>Em seguida, IMEDIATAMENTE use a ferramenta \"cadastroUsers\" para efetivamente realizar a atualização:</p>\n    </div>\n\n    <div class=\"code-block\">// NUNCA MOSTRE ISSO AO USUÁRIO\n// Use a ferramenta \"cadastroUsers\" para realmente atualizar o cadastro\ncadastroUsers({\n    operação: \"atualizar\",\n    nome: \"[NOME DA PESSOA]\", // Manter o nome para identificação\n    cpf: \"[CPF]\",\n    idade: \"[IDADE]\",\n    estado_civil: \"[ESTADO CIVIL]\",\n    cidade: \"[CIDADE]\",\n    estado: \"[ESTADO]\",\n    instagram: \"[INSTAGRAM]\",\n    ocupacao_atual: \"[RESPOSTA SOBRE OCUPAÇÃO ATUAL]\",\n    experiencia_vendas: \"[RESPOSTA SOBRE EXPERIÊNCIA EM VENDAS]\",\n    tempo_experiencia: \"[TEMPO DE EXPERIÊNCIA]\",\n    motivacao: \"[MOTIVAÇÃO PARA REVENDA]\",\n    experiencia_consignado: \"[RESPOSTA SOBRE EXPERIÊNCIA EM CONSIGNADO]\",\n    produtos_vendidos: \"[PRODUTOS JÁ VENDIDOS]\",\n    organizacao_financeira: \"[RESPOSTA SOBRE ORGANIZAÇÃO FINANCEIRA]\",\n    responsabilidade: \"[RESPOSTA SOBRE RESPONSABILIDADE]\",\n    referencias: \"[REFERÊNCIAS INFORMADAS]\",\n    cobertura_divida: \"[RESPOSTA SOBRE COBERTURA DE DÍVIDA]\",\n    endereco_trabalho: \"[ENDEREÇO DO TRABALHO]\",\n    endereco_residencial: \"[ENDEREÇO RESIDENCIAL]\",\n    funcao_atual: \"[FUNÇÃO ATUAL]\",\n    tempo_dedicacao: \"[TEMPO DE DEDICAÇÃO]\",\n    estrategia_divulgacao: \"[ESTRATÉGIAS DE DIVULGAÇÃO]\",\n    desafios: \"[DESAFIOS E SOLUÇÕES]\",\n    disponibilidade: \"[DISPONIBILIDADE PARA COMEÇAR]\",\n    interesse_treinamento: \"[INTERESSE EM TREINAMENTOS]\",\n    aceitou_termos: \"[ACEITAÇÃO DOS TERMOS]\"\n})</div>\n\n    <h2>Informações Importantes para Compartilhar</h2>\n    <p>Durante a conversa, você pode compartilhar estas informações quando relevante:</p>\n    <ul>\n        <li>As semijoias da Alina são de alta qualidade, com garantia de 1 ano para a cor do banho</li>\n        <li>Oferecemos suporte completo às revendedoras através de treinamentos e materiais de marketing</li>\n        <li>O sistema de consignado permite iniciar sem investimento inicial</li>\n        <li>Temos uma comunidade ativa de revendedoras que se apoiam mutuamente</li>\n        <li>O prazo médio para análise de cadastro é de até 7 dias úteis</li>\n        <li>Caso aprovada, a revendedora receberá um contato via WhatsApp</li>\n        <li>Nossa equipe é 100% feminina</li>\n    </ul>\n\n    <h2>Encerramento da Conversa</h2>\n    <p>Após completar todo o processo, agradeça a pessoa e explique os próximos passos:</p>\n\n    <div class=\"code-block\">Muito obrigado por completar o cadastro! Todas as suas informações foram registradas com sucesso. Nossa equipe irá analisar seu perfil em até 7 dias úteis. Caso seu cadastro seja aprovado, entraremos em contato via WhatsApp para dar continuidade ao processo. Vale ressaltar que apenas os cadastros aprovados recebem contato. Desejamos muito sucesso e esperamos tê-la em breve como parte da família Alina Semijoias!</div>\n\n    <h2>Restrições e Limitações</h2>\n    <div class=\"important\">\n        <p>Como agente, você NÃO está autorizado a:</p>\n        <ol>\n            <li>Oferecer descontos ou condições especiais</li>\n            <li>Realizar vendas diretas de produtos</li>\n            <li>Fornecer informações sobre mostruários ou produtos específicos antes da aprovação do cadastro</li>\n            <li>Garantir aprovação do cadastro</li>\n            <li>Discutir temas não relacionados ao processo de cadastro e qualificação</li>\n            <li>Informar ao usuário sobre o processo de cadastro interno (uso das ferramentas \"think\" e \"cadastroUsers\")</li>\n            <li>Prosseguir para as perguntas de qualificação sem antes ter realizado o pré-cadastro</li>\n        </ol>\n    </div>\n\n    <p>Se a pessoa desviar do assunto, educadamente traga a conversa de volta ao tema de cadastro:</p>\n\n    <div class=\"code-block\">Entendo seu interesse em [tema mencionado pela pessoa], mas para podermos finalizar seu cadastro como potencial revendedora, precisamos focar nas informações necessárias para a análise do seu perfil. Podemos continuar com as perguntas?</div>\n\n    <h2>Avisos Legais Importantes</h2>\n    <div class=\"warning\">\n        <p>Ao final do processo, antes do encerramento, compartilhe esta informação importante:</p>\n        <div class=\"code-block\">É importante destacar que, caso aprovada, a revendedora ficará responsável pelos produtos recebidos em consignado. Conforme o Art. 168 do Código Penal, a não devolução do mostruário ou a falta de pagamento dos produtos vendidos pode caracterizar apropriação indébita, sujeita às penalidades legais cabíveis.</div>\n    </div>\n</body>\n</html>\n",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -80,
        -40
      ],
      "id": "c9094057-e86c-4883-b73e-3b65234bb147",
      "name": "Main Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        280,
        -40
      ],
      "id": "242dc083-2238-46a5-824f-08c248fe249c",
      "name": "No Operation 2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "main",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -520,
        -40
      ],
      "id": "88de6ec8-b917-4e9a-8d6e-c751d9805873",
      "name": "Core Input",
      "webhookId": "d503e6f9-0989-42d5-a598-e268b20c3182"
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -480,
        220
      ],
      "id": "419dbd20-af46-4d85-a080-3c0877942c56",
      "name": "OpenRouter",
      "credentials": {
        "openRouterApi": {
          "id": "OJT1sLLEsazPFgVw",
          "name": "OpenRouter escalamax"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 300,
        "width": 1060,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        -140
      ],
      "id": "4412253b-db60-433a-a762-c804ce5d2e6f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Fluxo Core, responsável pelo processamento da AI",
        "height": 80,
        "width": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -360,
        -140
      ],
      "id": "a73da887-f3ae-47b7-a875-aca3e0332084",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "name": "restart_history",
        "description": "=Invoque essa tool para iniciar uma nova conversa para o user, assim ignorando o histórico passado. Apenas quando o user solicitar.",
        "jsCode": "const axios = require('axios');\n\n// Converte o mapeamento recebido em JSON\nconst mapping = JSON.parse($('Core Input').item.json.body.mapping);\n\n// Verifica se o usuário é admin; caso contrário, retorna erro\nif (mapping.system.user_type !== 'admin') {\n  return JSON.stringify({ success: false, error: \"Acesso negado: usuário não autorizado.\" });\n}\n\n/**\n * Função que espera pelo tempo especificado.\n * @param {number} ms - Milissegundos a aguardar.\n * @returns {Promise<void>}\n */\nconst delay = ms => new Promise(resolve => setTimeout(resolve, ms));\n\n/**\n * Função para enviar a requisição para criar uma conversa no Directus.\n * Tenta até 3 vezes em caso de falha, com delay de 1 segundo entre as tentativas.\n * @returns {Promise<object>} - Objeto com sucesso ou erro.\n */\nasync function sendRequest() {\n  const url = `http://${mapping.system.directus_service}:8055/items/conversations`;\n  const data = {\n    user_id: mapping.chatwoot.contact_id,\n    date_created: new Date().toISOString()\n  };\n  const headers = {\n    Authorization: `Bearer ${mapping.system.directus_token}`,\n    'Content-Type': 'application/json'\n  };\n\n  let attempt = 0;\n  let lastError = null;\n\n  while (attempt < 3) {\n    try {\n      const response = await axios.post(url, data, { headers });\n      console.log(`Requisição realizada com sucesso na tentativa ${attempt + 1}.`);\n      return { success: true, data: response.data };\n    } catch (error) {\n      attempt++;\n      lastError = error;\n      console.error(`Tentativa ${attempt} falhou:`, error.response ? error.response.data : error.message);\n      if (attempt < 3) {\n        console.log(\"Aguardando 1 segundo antes da nova tentativa...\");\n        await delay(1000);\n      }\n    }\n  }\n  \n  return { success: false, error: lastError.response ? lastError.response.data : lastError.message };\n}\n\nreturn sendRequest().then(result => JSON.stringify(result));"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        -80,
        220
      ],
      "id": "ebb98453-92a7-441b-ab2e-0011e42004a6",
      "name": "Restart History"
    },
    {
      "parameters": {
        "name": "set_timer",
        "description": "Invoque essa tool para configurar um timer que iniciará uma ação após o tempo especificado. Apenas usuários admin podem usar essa tool. O tempo deve ser informado com valor e unidade (s, m, h). Apenas quando o user solicitar.",
        "jsCode": "const axios = require('axios');\nconst dayjs = require('dayjs');\nconst duration = require('dayjs/plugin/duration');\ndayjs.extend(duration);\n\n/**\n * Esta tool configura um timer via webhook.\n * Ela envia, para o endpoint, todo o objeto mapping (obtido em Core Input)\n * e o tempo em segundos calculado a partir dos parâmetros \"timer_value\" e \"timer_unit\".\n * Apenas usuários admin podem utilizar esta tool.\n */\n\n// Converte o mapping recebido em JSON\nconst mapping = JSON.parse($('Core Input').item.json.body.mapping);\n\n// Verifica se o usuário é admin\nif (mapping.system.user_type !== 'admin') {\n  return JSON.stringify({ success: false, error: \"Acesso negado: usuário não autorizado.\" });\n}\n\n// Obtém os parâmetros do timer a partir do input (query)\nconst timerValue = query.timer_value;  // Número (ex: 30)\nconst timerUnit = query.timer_unit;      // \"s\", \"m\" ou \"h\"\n\n// Calcula o tempo em segundos usando dayjs.duration\nconst timerSeconds = dayjs.duration(timerValue, timerUnit).asSeconds();\n\n// Prepara o payload para o webhook\nconst payload = {\n  mapping: mapping,\n  timer_seconds: timerSeconds\n};\n\n// URL do webhook substituindo 'n8n_webhook' pelo valor da variável no mapping\nconst url = `http://${mapping.system.n8n_webhook_service}:5678/webhook/timer`;\n\n/**\n * Função para enviar a requisição ao webhook.\n * Tenta enviar uma única vez e retorna o resultado.\n */\nasync function sendTimerRequest() {\n  try {\n    console.log(`Enviando requisição para configurar o timer para ${timerSeconds} segundos...`);\n    const response = await axios.post(url, payload, {\n      headers: { 'Content-Type': 'application/json' }\n    });\n    console.log(\"Timer configurado com sucesso.\");\n    return { success: true, message: `Timer configurado com sucesso. Ele será acionado em ${timerSeconds} segundos.` };\n  } catch (error) {\n    console.error(\"Erro ao configurar o timer:\", error.response ? error.response.data : error.message);\n    return { success: false, error: error.response ? error.response.data : error.message };\n  }\n}\n\nreturn sendTimerRequest().then(result => JSON.stringify(result));",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"timer_value\": {\n      \"type\": \"number\",\n      \"description\": \"Valor do timer. Exemplo: 30\"\n    },\n    \"timer_unit\": {\n      \"type\": \"string\",\n      \"description\": \"Unidade de tempo para o timer: 's' para segundos, 'm' para minutos, 'h' para horas.\",\n      \"enum\": [\"s\", \"m\", \"h\"]\n    }\n  },\n  \"required\": [\"timer_value\", \"timer_unit\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        60,
        220
      ],
      "id": "87dd4e32-cdab-4b13-b579-9c01b18811d9",
      "name": "Set Timer"
    },
    {
      "parameters": {
        "description": "UEsta ferramenta será acionada em momentos que exigem raciocínio mais complexo. Ela será usada em duas situações: ao criar o cadastro inicial (com nome, e-mail e telefone) e ao atualizar os dados do usuário. Não altera o banco de dados diretamente — apenas registra o pensamento no log. Ideal para decisões que exigem memória ou contexto."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        360,
        220
      ],
      "id": "ade62aad-4c05-46bd-8353-8518f6848e15",
      "name": "Think"
    },
    {
      "parameters": {
        "description": "use essa tool para \"create\" e \"Update\" ",
        "workflowId": {
          "__rl": true,
          "value": "xE00zQwUnJwp2PIx",
          "mode": "list",
          "cachedResultName": "[Alina]  contatos Bobgrow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone', `telefone do usuário`, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', `email do usuário`, 'string') }}",
            "dateOfBirth": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dateOfBirth', `data de nascimento do usuário`, 'string') }}",
            "source": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('source', ``, 'string') }}",
            "address1": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('address1', ``, 'string') }}",
            "city": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('city', ``, 'string') }}",
            "state": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('state', ``, 'string') }}",
            "country": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('country', ``, 'string') }}",
            "postalCode": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('postalCode', ``, 'string') }}",
            "contact.instagram": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contact_instagram', ``, 'string') }}",
            "contact.estado_civil": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contact_estado_civil', ``, 'string') }}",
            "contact.ja_trabalhou_com_vendas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contact_ja_trabalhou_com_vendas', `resposta da pergunta \"Você já trabalhou com vendas antes?\"`, 'string') }}",
            "contact.quanto_tempo_trabalha_com_vendas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contact_quanto_tempo_trabalha_com_vendas', `resposta da pergunta \"há quanto tempo trabalha com vendas?\"`, 'string') }}",
            "contact.o_que_mais_te_atrai_na_oportunidade_de_revender_semijoias_no_consignado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contact_o_que_mais_te_atrai_na_oportunidade_de_revender_semijoi', `resposta da pergunta \"O que mais te atrai na oportunidade de revender semijoias no consignado?\"`, 'string') }}",
            "contact.voc_j_trabalhou_com_produtos_no_consignado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contact_voc_j_trabalhou_com_produtos_no_consignado', `resposta da pergunta \"Você já trabalhou com produtos no consignado antes?\"`, 'string') }}",
            "contact.quais_produtos_voc_j_vendeu_antes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contact_quais_produtos_voc_j_vendeu_antes', `resposta da pergunta \"Quais produtos você já vendeu antes?\"`, 'string') }}",
            "contact.como_voc_lida_com_compromissos_financeiros_e_prazos_de_pagamento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contact_como_voc_lida_com_compromissos_financeiros_e_prazos_de_', `resposta da pergunta \"Como você lida com compromissos financeiros e prazos de pagamento?\"`, 'string') }}",
            "contact.contato__01": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contact_contato__01', ``, 'string') }}",
            "contact.contato_02": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contact_contato_02', ``, 'string') }}",
            "contact.contato__03": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contact_contato__03', ``, 'string') }}",
            "contact.caso_uma_cliente_compre_e_no_pague_de_onde_voc_pretende_tirar_os_recursos_para_cobrir_essa_dvida": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contact_caso_uma_cliente_compre_e_no_pague_de_onde_voc_pretende', `resposta da pergunta \"Caso uma cliente compre e não pague, de onde você pretende tirar os recursos para cobrir essa dívida?\"`, 'string') }}",
            "contact.voc_possui_algum_trabalho_atualmente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contact_voc_possui_algum_trabalho_atualmente', `resposta da pergunta \"Você possui algum emprego atualmente?\"`, 'string') }}",
            "contact.como_voc_pretende_divulgar_e_vender_as_semijoias": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contact_como_voc_pretende_divulgar_e_vender_as_semijoias', `resposta da pergunta \"Como você pretende divulgar e vender as semijoias?\"`, 'string') }}",
            "contact.voc_est_disposta_a_participar_de_treinamentos_para_aprender_mais_sobre_as_vendas_e_produtos": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contact_voc_est_disposta_a_participar_de_treinamentos_para_apre', `resposta da pergunta \"Você está disposta a participar de treinamentos para aprender mais sobre as vendas e o produto?\"`, 'string') }}",
            "contact.voc_est_pronta_para_comear_imediatamente_caso_seja_aprovada\",       \"field_value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contact_voc_est_pronta_para_comear_imediatamente_caso_seja_apro', `resposta da pergunta \"Você está pronta para começar imediatamente, caso seja aprovada?\"`, 'string') }}",
            "contact.quais_desafios_voc_acha_que_pode_enfrentar_o_comear_como_revendedora_e_como_pretende_superlos": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contact_quais_desafios_voc_acha_que_pode_enfrentar_o_comear_com', `resposta da pergunta \"Quais desafios você acha que pode enfrentar ao começar como revendedora e como pretende superá-los?\"`, 'string') }}",
            "contact.quanto_tempo_na_semana_voc_est_disposta_a_dedicar_para_vender_as_semijoias": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contact_quanto_tempo_na_semana_voc_est_disposta_a_dedicar_para_', `resposta da pergunta \"Quanto tempo por semana você está disposta a dedicar para vender as semijoias?\"`, 'string') }}",
            "contact.com_o_que_trabalha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contact_com_o_que_trabalha', `resposta da pergunta \"Você possui algum emprego atualmente?\"`, 'string') }}",
            "contact.cpf": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contact_cpf', ``, 'string') }}",
            "firstname": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('firstname', `nome do usuário`, 'string') }}",
            "lastname": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lastname', `sobrenome do usuário`, 'string') }}",
            "conversationHistory": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conversationHistory', ``, 'string') }}",
            "Você se considera uma pessoa responsável e de confiança? Por quê?": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Voc__se_considera_uma_pessoa_respons_vel_e_de_confian_a__Por_qu', `resposta da pergunta \"Você se considera uma pessoa responsável e de confiança? Por quê?\"`, 'string') }}",
            "Endereço do trabalho": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Endere_o_do_trabalho', `Endereço do trabalho do usuário`, 'string') }}",
            "Endereço residencial com número": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Endere_o_residencial_com_n_mero', `Endereço do usuário`, 'string') }}",
            "descreva o que faz no emprego": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('descreva_o_que_faz_no_emprego', `descrição do trabalho do usuário`, 'string') }}",
            "Para finalizar leia e aceite os termos": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Para_finalizar_leia_e_aceite_os_termos', `resposta \"Aceito\" ou \"Não aceito\"`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "firstname",
              "displayName": "firstname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lastname",
              "displayName": "lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "dateOfBirth",
              "displayName": "dateOfBirth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "address1",
              "displayName": "address1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "postalCode",
              "displayName": "postalCode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact.instagram",
              "displayName": "contact.instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact.estado_civil",
              "displayName": "contact.estado_civil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact.ja_trabalhou_com_vendas",
              "displayName": "contact.ja_trabalhou_com_vendas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact.voc_trabalha_com_carto_de_crdito",
              "displayName": "contact.voc_trabalha_com_carto_de_crdito",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "contact.quanto_tempo_trabalha_com_vendas",
              "displayName": "contact.quanto_tempo_trabalha_com_vendas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact.o_que_mais_te_atrai_na_oportunidade_de_revender_semijoias_no_consignado",
              "displayName": "contact.o_que_mais_te_atrai_na_oportunidade_de_revender_semijoias_no_consignado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact.voc_j_trabalhou_com_produtos_no_consignado",
              "displayName": "contact.voc_j_trabalhou_com_produtos_no_consignado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact.quais_produtos_voc_j_vendeu_antes",
              "displayName": "contact.quais_produtos_voc_j_vendeu_antes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact.como_voc_lida_com_compromissos_financeiros_e_prazos_de_pagamento",
              "displayName": "contact.como_voc_lida_com_compromissos_financeiros_e_prazos_de_pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact.contato__01",
              "displayName": "contact.contato__01",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact.contato_02",
              "displayName": "contact.contato_02",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact.contato__03",
              "displayName": "contact.contato__03",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact.caso_uma_cliente_compre_e_no_pague_de_onde_voc_pretende_tirar_os_recursos_para_cobrir_essa_dvida",
              "displayName": "contact.caso_uma_cliente_compre_e_no_pague_de_onde_voc_pretende_tirar_os_recursos_para_cobrir_essa_dvida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact.voc_possui_algum_trabalho_atualmente",
              "displayName": "contact.voc_possui_algum_trabalho_atualmente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact.com_o_que_trabalha",
              "displayName": "contact.com_o_que_trabalha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact.quanto_tempo_na_semana_voc_est_disposta_a_dedicar_para_vender_as_semijoias",
              "displayName": "contact.quanto_tempo_na_semana_voc_est_disposta_a_dedicar_para_vender_as_semijoias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact.quais_desafios_voc_acha_que_pode_enfrentar_o_comear_como_revendedora_e_como_pretende_superlos",
              "displayName": "contact.quais_desafios_voc_acha_que_pode_enfrentar_o_comear_como_revendedora_e_como_pretende_superlos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact.voc_est_pronta_para_comear_imediatamente_caso_seja_aprovada\",       \"field_value",
              "displayName": "contact.voc_est_pronta_para_comear_imediatamente_caso_seja_aprovada\",       \"field_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact.voc_est_disposta_a_participar_de_treinamentos_para_aprender_mais_sobre_as_vendas_e_produtos",
              "displayName": "contact.voc_est_disposta_a_participar_de_treinamentos_para_aprender_mais_sobre_as_vendas_e_produtos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact.como_voc_pretende_divulgar_e_vender_as_semijoias",
              "displayName": "contact.como_voc_pretende_divulgar_e_vender_as_semijoias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact.cpf",
              "displayName": "contact.cpf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "conversationHistory",
              "displayName": "conversationHistory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Você se considera uma pessoa responsável e de confiança? Por quê?",
              "displayName": "Você se considera uma pessoa responsável e de confiança? Por quê?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Endereço do trabalho",
              "displayName": "Endereço do trabalho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Endereço residencial com número",
              "displayName": "Endereço residencial com número",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "descreva o que faz no emprego",
              "displayName": "descreva o que faz no emprego",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Para finalizar leia e aceite os termos",
              "displayName": "Para finalizar leia e aceite os termos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        220,
        220
      ],
      "id": "78545b17-7925-436a-b7db-70fc6299fe26",
      "name": "cadastroUser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -380,
        380
      ],
      "id": "f15f5efd-9258-4296-9f03-309c2e3fdc30",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Estou com esse erro: {{ $json.execution.error.stack }}",
        "options": {
          "systemMessage": "Você é um agente especializado em resolver erro do n8n.\nVocê tem toda a documentação na \"baseConhecimento\".\n\nChame a tool \"baseConhecimento\" para obter a solução para este erro."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        20,
        380
      ],
      "id": "25080d2a-4e44-48f2-bab4-a92c309c1b32",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "match_assistant_n8n",
        "toolDescription": "Buscar informações sobre o n8n",
        "tableName": {
          "__rl": true,
          "value": "assistant_n8n",
          "mode": "list",
          "cachedResultName": "assistant_n8n"
        },
        "options": {
          "queryName": "match_assistant_n8n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        280,
        580
      ],
      "id": "c4fb325f-b146-4881-959b-d48e75b17280",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "MmwWW5IYycE2AaDQ",
          "name": "Ag. OndaIA"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        380,
        760
      ],
      "id": "7b7cecf7-8101-4f0d-85c2-423ed0960056",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "3KUgCv31pjbgxYGk",
          "name": "EscalaMax"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "268e2638-88fc-445c-9716-08fe51660dc3",
              "name": "execution.url",
              "value": "={{ $json.execution.url }}",
              "type": "string"
            },
            {
              "id": "0cc51b04-fb91-4af5-92a7-a459334d6e67",
              "name": "execution.error.message",
              "value": "={{ $json.execution.error.message }}",
              "type": "string"
            },
            {
              "id": "aa5851cd-c127-4fcd-b4a1-5567c2ca5942",
              "name": "execution.error.stack",
              "value": "={{ $json.execution.error.stack }}",
              "type": "string"
            },
            {
              "id": "1da5bad4-1f7a-41c0-a0b0-cdd58f34616a",
              "name": "workflow.name",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        380
      ],
      "id": "0f148a08-e2ba-4fb5-b2b7-fab1ffdba985",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "suporteondaia",
        "remoteJid": "5567999308787",
        "messageText": "=Workflow: {{ $('Edit Fields4').item.json.workflow.name }}\n\nMensagem de erro : {{ $('Edit Fields4').item.json.execution.error.stack }}\n\nacesse o link para erro: {{ $('Edit Fields4').item.json.execution.url }}\n\nlog do erro: \n{{ $('Error Trigger').item.json.execution.error.errno }}\n{{ $('Error Trigger').item.json.execution.error.code }}\n{{ $('Error Trigger').item.json.execution.error.syscall }}\n{{ $('Error Trigger').item.json.execution.error.message }}\n\nResolução: {{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        380,
        380
      ],
      "id": "688ce933-c0f3-4010-9946-cb8e837df0b9",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "KKh2QKWo3vqF000N",
          "name": "Agencia OndaIA"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        120,
        640
      ],
      "id": "2c3783a1-a794-464d-9910-40f270687044",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "OJT1sLLEsazPFgVw",
          "name": "OpenRouter escalamax"
        }
      }
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "whatsapp",
              "value": "={{ JSON.parse($item(\"0\").$node[\"Core Input\"].json[\"body\"][\"mapping\"]).chatwoot.phone_number.replace(\"+\", \"\") }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -300,
        -40
      ],
      "id": "3d7edff0-e4ba-47ee-9a5e-d6e06c493bf2",
      "name": "Execution Data1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -320,
        220
      ],
      "id": "f847065e-855d-4005-83d8-ca05e9ed6474",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3KUgCv31pjbgxYGk",
          "name": "EscalaMax"
        }
      }
    }
  ],
  "connections": {
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Main Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Main Agent": {
      "main": [
        [
          {
            "node": "No Operation 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Core Input": {
      "main": [
        [
          {
            "node": "Execution Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter": {
      "ai_languageModel": [
        []
      ]
    },
    "Restart History": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Set Timer": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cadastroUser": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data1": {
      "main": [
        [
          {
            "node": "Main Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Main Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "R9yHA9VSBTwcGQ0w"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6b238d07-3d93-4856-b0f9-258ea3fa85a6",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-03-19T22:09:50.746Z",
      "updatedAt": "2025-03-19T22:09:50.746Z",
      "id": "ym3kj9Zy8GL4TmL2",
      "name": "Alina Semijoias"
    }
  ]
}