flows.escamax1.automacao360.com/workflows/[Alina]  contatos Bobgrow.json
{
  "createdAt": "2025-03-30T10:56:45.180Z",
  "updatedAt": "2025-07-06T11:38:26.618Z",
  "id": "xE00zQwUnJwp2PIx",
  "name": "[Alina]  contatos Bobgrow",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1960,
        1760
      ],
      "id": "13f7a079-cbfb-46df-9dcd-4795c84965f1",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Estou com esse erro: {{ $json.execution.error.stack }}",
        "options": {
          "systemMessage": "Você é um agente especializado em resolver erro do n8n.\nVocê tem toda a documentação na \"baseConhecimento\".\n\nChame a tool \"baseConhecimento\" para obter a solução para este erro."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        2360,
        1760
      ],
      "id": "cb13f48f-75a8-49e6-ac52-ec19a8bd6b5a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "match_assistant_n8n",
        "toolDescription": "Buscar informações sobre o n8n",
        "tableName": {
          "__rl": true,
          "value": "assistant_n8n",
          "mode": "list",
          "cachedResultName": "assistant_n8n"
        },
        "options": {
          "queryName": "match_assistant_n8n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        2620,
        1960
      ],
      "id": "14d45321-ad77-409c-82b2-145e2cb7b548",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "MmwWW5IYycE2AaDQ",
          "name": "Ag. OndaIA"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2880,
        2180
      ],
      "id": "cf6801bc-7910-41c7-bebe-e44f49d0fc32",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "3KUgCv31pjbgxYGk",
          "name": "EscalaMax"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "268e2638-88fc-445c-9716-08fe51660dc3",
              "name": "execution.url",
              "value": "={{ $json.execution.url }}",
              "type": "string"
            },
            {
              "id": "0cc51b04-fb91-4af5-92a7-a459334d6e67",
              "name": "execution.error.message",
              "value": "={{ $json.execution.error.message }}",
              "type": "string"
            },
            {
              "id": "aa5851cd-c127-4fcd-b4a1-5567c2ca5942",
              "name": "execution.error.stack",
              "value": "={{ $json.execution.error.stack }}",
              "type": "string"
            },
            {
              "id": "1da5bad4-1f7a-41c0-a0b0-cdd58f34616a",
              "name": "workflow.name",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2200,
        1760
      ],
      "id": "ea3d13f0-a55b-4083-962c-d8284b54b81a",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "suporteondaia",
        "remoteJid": "5567999308787",
        "messageText": "=Workflow: {{ $('Edit Fields4').item.json.workflow.name }}\n\nMensagem de erro : {{ $('Edit Fields4').item.json.execution.error.stack }}\n\nacesse o link para erro: {{ $('Edit Fields4').item.json.execution.url }}\n\nlog do erro: \n{{ $('Error Trigger').item.json.execution.error.errno }}\n{{ $('Error Trigger').item.json.execution.error.code }}\n{{ $('Error Trigger').item.json.execution.error.syscall }}\n{{ $('Error Trigger').item.json.execution.error.message }}\n\nResolução: {{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2720,
        1760
      ],
      "id": "20a8822e-3c5a-4d9b-a1c7-e6c4a20fefaa",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "KKh2QKWo3vqF000N",
          "name": "Agencia OndaIA"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2380,
        1940
      ],
      "id": "a303cead-5bbc-4775-b17a-a2d4affd8a85",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "OKBVbV3h0JCNgM8u",
          "name": "MaryJhon"
        }
      }
    },
    {
      "parameters": {
        "path": "alina_semi_joias",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -300,
        2120
      ],
      "id": "1696c380-5487-4865-815c-87893007cdc4",
      "name": "Webhook",
      "webhookId": "1ce69184-e137-4435-8330-853b0ea22d57"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1480,
        2120
      ],
      "id": "84499e68-764b-4aa5-98d6-5d07aa017d84",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7151d45b-619f-4fe5-87d8-0a43faf166f2",
              "name": "response",
              "value": "=número de telefone não tem Whatsapp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7188612c-b716-4942-8947-44ef948dc423",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        1720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5204bb98-c216-43c7-b7d6-c43d8ec122f0",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        60,
        2120
      ],
      "id": "8d5b8685-a21a-4a39-a006-96900f97b9c4",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1060,
        2120
      ],
      "id": "0ebd5625-f029-4cf4-a509-969b107a701c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "email": "={{ $('Webhook').item.json.body.email?.replace('YOU', '') ?? null }}",
        "phone": "={{ $json.number ?? null}}",
        "additionalFields": {
          "name": "={{ $('Webhook').item.json.body.nome ?? null }}",
          "tags": "atendida pela ia"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        860,
        1940
      ],
      "id": "6536ee89-2fb4-4af1-9a25-f32daea85466",
      "name": "CreateContact1",
      "alwaysOutputData": true,
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "DIE67zIMAh6q3flN",
          "name": "Aline Concept"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "query": "={{ $json.body.nome ?? null}}"
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        -100,
        2120
      ],
      "id": "a2d275d8-e596-45ab-8fc3-e9c96b68386d",
      "name": "Busca1",
      "alwaysOutputData": true,
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "DIE67zIMAh6q3flN",
          "name": "Aline Concept"
        }
      }
    },
    {
      "parameters": {
        "content": "# Verifica whatsapp",
        "height": 280,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        220,
        1800
      ],
      "typeVersion": 1,
      "id": "0af10117-2751-4f64-8aa7-1c58faeed975",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.escamax1.automacao360.com/chat/whatsappNumbers/alinajoias",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=239A1C16855D73C57525DD951AC3C"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numbers\": [\n    \"{{ $json.phone }}\"\n  ]\n}",
        "options": {}
      },
      "id": "1baa66bf-c784-4e19-8166-469617eda700",
      "name": "Whatsapp válido?1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        460,
        1900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"exists\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "bcfdae6d-ace5-4d3b-9864-57e873bab590",
      "name": "É válido?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        640,
        1900
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7151d45b-619f-4fe5-87d8-0a43faf166f2",
              "name": "response",
              "value": "={{ $item(\"0\").$node[\"Merge1\"].json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "121ac532-9a88-4d70-a18a-6b5a7d9ef0b5",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1240,
        2120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10772c94-caa3-4d05-b687-10bf15a12e69",
              "name": "phone",
              "value": "={{ $('Webhook').last().json.body.whatsapp.startsWith('+55') ? $('Webhook').last().json.body.whatsapp : '+55' + $('Webhook').last().json.body.whatsapp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        1900
      ],
      "id": "7b3e9001-00a8-4401-9232-84262cb96b88",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "url": "https://rest.gohighlevel.com/v1/custom-fields",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "highLevelApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2NhdGlvbl9pZCI6Im01NTFjQkJNSElNTGpQSFVYeU81IiwidmVyc2lvbiI6MSwiaWF0IjoxNzQyNDI1MTg1MzYzLCJzdWIiOiJXcVVES29hTm5wQXBneDV2UDBVbCJ9.b8uy3N_R2-IpTKTutzpP4Coi86n1o0_0LHsuK0L0bro"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        1760
      ],
      "id": "2d8dd835-875e-4f3a-a196-a7521b5e86e5",
      "name": "HTTP Request1",
      "credentials": {
        "highLevelApi": {
          "id": "nTI2khzYnfGc1Q8D",
          "name": "API -DeBona"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Ferramentas de contatos",
        "height": 640,
        "width": 2180,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -360,
        1660
      ],
      "typeVersion": 1,
      "id": "a2a1dff3-1427-48fc-9ca5-ab33ccb44b4f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "email": "={{ $json.email ?? null }}",
        "phone": "={{ $json.phone ?? null}}",
        "additionalFields": {
          "address1": "={{ $('Webhook').item.json.body.endereco_residencial ?? null}}",
          "city": "={{ $('Webhook').item.json.body.cidade ?? null}}",
          "customFields": {
            "values": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "zXja0lR7TbjnZlLldDrQ",
                  "mode": "list",
                  "cachedResultName": "instagram"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.instagram ?? null}}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "3ncTkoYXEyc7c68Y3sfa",
                  "mode": "list",
                  "cachedResultName": "Você já trabalhou com vendas antes?"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.experiencia_vendas ?? null}}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "apKjUBLBbTXlUvSXlRdz",
                  "mode": "list",
                  "cachedResultName": "há quanto tempo trabalha com vendas?"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.tempo_experiencia ?? null}}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "nStRyvSgHhWJIa7fUoPh",
                  "mode": "list",
                  "cachedResultName": "O que mais te atrai na oportunidade de revender semijoias no consignado?"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.motivacao ?? null}}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "OrPrWgUT5BWSO99515LB",
                  "mode": "list",
                  "cachedResultName": "Você já trabalhou com produtos no consignado antes?"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.experiencia_consignado ?? null}}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "On7i1hVAcWNZ5tMCWGOL",
                  "mode": "list",
                  "cachedResultName": "Quais produtos você já vendeu antes?"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.produtos_vendidos ?? null}}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "5Zhhhapklj6WeRu8gmxY",
                  "mode": "list",
                  "cachedResultName": "Como você lida com compromissos financeiros e prazos de pagamento?"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.organizacao_financeira ?? null}}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "NUmnOAUx2wrpCo9MM4nh",
                  "mode": "list",
                  "cachedResultName": "Você se considera uma pessoa responsável e de confiança? Por quê?"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.responsabilidade ?? null}}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "cDEnpyUfQmh2V64sXsRE",
                  "mode": "list",
                  "cachedResultName": "Referência 01"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.referencias.split(' | ')[0] ?? null }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "JqPFutud5YGraTc0Rf6i",
                  "mode": "list",
                  "cachedResultName": "Referência 02"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.referencias.split(' | ')[1] ?? null }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "gJXBnLJop9tUO8ICm8Et",
                  "mode": "list",
                  "cachedResultName": "Referência 03"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.referencias.split(' | ')[2] ?? null }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "wHX0zg4mj6hofX8VKw3M",
                  "mode": "list",
                  "cachedResultName": "Caso uma cliente compre e não pague, de onde você pretende tirar os recursos para cobrir essa dívida?"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.cobertura_divida ?? null}}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "4vfgbSYDgl0gQEAHK6c4",
                  "mode": "list",
                  "cachedResultName": "Você possui algum emprego atualmente?"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.ocupacao_atual ?? null}}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "4vfgbSYDgl0gQEAHK6c4",
                  "mode": "list",
                  "cachedResultName": "Você possui algum emprego atualmente?"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.ocupacao_atual ?? null}}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "mVQqDTIARtAuIy8MQpEm",
                  "mode": "list",
                  "cachedResultName": "Quanto tempo por semana você está disposta a dedicar para vender as semijoias?"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.tempo_dedicacao ?? null}}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "soBjJL6gvArc0bbin07t",
                  "mode": "list",
                  "cachedResultName": "Quais desafios você acha que pode enfrentar ao começar como revendedora e como pretende superá-los?"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.desafios ?? null }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "9RUuRTRsUJhgcOJrBiRZ",
                  "mode": "list",
                  "cachedResultName": "Você está pronta para começar imediatamente, caso seja aprovada?"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.disponibilidade ?? null}}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "xA6dTzRThjsS8duFqcHN",
                  "mode": "list",
                  "cachedResultName": "Você está disposta a participar de treinamentos para aprender mais sobre as vendas e o produto?"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.interesse_treinamento ?? null}}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "SoJwYYu3Jgc5t8Q3Ew23",
                  "mode": "list",
                  "cachedResultName": "Como você pretende divulgar e vender as semijoias?"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.estrategia_divulgacao ?? null }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "rLvv89SVVC8Zhad0Ekw5",
                  "mode": "list",
                  "cachedResultName": "Estado civil"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.estado_civil ?? null}}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "6Gx8JoUTv8dsLRy5crM8",
                  "mode": "list",
                  "cachedResultName": "CPF"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.cpf ?? null}}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "51lY8wZtHdJH95JDxxgX",
                  "mode": "list",
                  "cachedResultName": "Endereço do trabalho"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.endereco_trabalho ?? null}}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "UiEAMxgnO9wC04lJBcf8",
                  "mode": "list",
                  "cachedResultName": "Endereço residencial com número"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.endereco_residencial ?? null}}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "NcybLaphcZlg1dB9EV9a",
                  "mode": "list",
                  "cachedResultName": "descreva o que faz no emprego"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.funcao_atual ?? null }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "SfCXFY2hPWuqR8BZ3AK5",
                  "mode": "list",
                  "cachedResultName": "Para finalizar leia e aceite os termos"
                },
                "fieldValue": "={{ $('Webhook').item.json.body.aceitou_termos }}"
              }
            ]
          },
          "firstName": "={{ $json.firstName ?? null }}",
          "lastName": "={{ $json.lastName ?? null}}",
          "name": "={{ $('Webhook').item.json.body.nome ?? null}}",
          "postalCode": "={{ $json.postalCode }}",
          "source": "Entrevista com o IA",
          "state": "={{ $json.state }}",
          "notes": "={{ $json.dateOfBirth }}",
          "tags": "registro finalizado"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        460,
        2140
      ],
      "id": "f3518e5c-9c21-497f-af1d-3d563608708d",
      "name": "UpdateContacts1",
      "alwaysOutputData": true,
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "DIE67zIMAh6q3flN",
          "name": "Aline Concept"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Busca1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UpdateContacts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateContact1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp válido?1": {
      "main": [
        [
          {
            "node": "É válido?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É válido?1": {
      "main": [
        [
          {
            "node": "CreateContact1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Whatsapp válido?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateContacts1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "xE00zQwUnJwp2PIx"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "HTTP Request1": [
      {
        "json": {
          "customFields": [
            {
              "id": "rLvv89SVVC8Zhad0Ekw5",
              "name": "Estado civil",
              "fieldKey": "contact.estado_civil",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 50
            },
            {
              "id": "zXja0lR7TbjnZlLldDrQ",
              "name": "instagram",
              "fieldKey": "contact.instagram",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 150
            },
            {
              "id": "3ncTkoYXEyc7c68Y3sfa",
              "name": "Você já trabalhou com vendas antes?",
              "fieldKey": "contact.voc_j_trabalhou_com_vendas_antes",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 100
            },
            {
              "id": "apKjUBLBbTXlUvSXlRdz",
              "name": "há quanto tempo trabalha com vendas?",
              "fieldKey": "contact.h_quanto_tempo_trabalha_com_vendas",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 150
            },
            {
              "id": "nStRyvSgHhWJIa7fUoPh",
              "name": "O que mais te atrai na oportunidade de revender semijoias no consignado?",
              "fieldKey": "contact.o_que_mais_te_atrai_na_oportunidade_de_revender_semijoias_no_consignado",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 200
            },
            {
              "id": "OrPrWgUT5BWSO99515LB",
              "name": "Você já trabalhou com produtos no consignado antes?",
              "fieldKey": "contact.voc_j_trabalhou_com_produtos_no_consignado_antes",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 250
            },
            {
              "id": "On7i1hVAcWNZ5tMCWGOL",
              "name": "Quais produtos você já vendeu antes?",
              "fieldKey": "contact.quais_produtos_voc_j_vendeu_antes",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 300
            },
            {
              "id": "5Zhhhapklj6WeRu8gmxY",
              "name": "Como você lida com compromissos financeiros e prazos de pagamento?",
              "fieldKey": "contact.como_voc_lida_com_compromissos_financeiros_e_prazos_de_pagamento",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 350
            },
            {
              "id": "NUmnOAUx2wrpCo9MM4nh",
              "name": "Você se considera uma pessoa responsável e de confiança? Por quê?",
              "fieldKey": "contact.voc_se_considera_uma_pessoa_responsvel_e_de_confiana_por_qu",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 400
            },
            {
              "id": "cDEnpyUfQmh2V64sXsRE",
              "name": "Referência 01",
              "fieldKey": "contact.referncia_01",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 450
            },
            {
              "id": "JqPFutud5YGraTc0Rf6i",
              "name": "Referência 02",
              "fieldKey": "contact.referncia_02",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 500
            },
            {
              "id": "gJXBnLJop9tUO8ICm8Et",
              "name": "Referência 03",
              "fieldKey": "contact.referncia_03",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 550
            },
            {
              "id": "wHX0zg4mj6hofX8VKw3M",
              "name": "Caso uma cliente compre e não pague, de onde você pretende tirar os recursos para cobrir essa dívida?",
              "fieldKey": "contact.caso_uma_cliente_compre_e_no_pague_de_onde_voc_pretende_tirar_os_recursos_para_cobrir_essa_dvida",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 600
            },
            {
              "id": "4vfgbSYDgl0gQEAHK6c4",
              "name": "Você possui algum emprego atualmente?",
              "fieldKey": "contact.voc_possui_algum_emprego_atualmente",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 650
            },
            {
              "id": "51lY8wZtHdJH95JDxxgX",
              "name": "Endereço do trabalho",
              "fieldKey": "contact.endereo_do_trabalho",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 700
            },
            {
              "id": "UiEAMxgnO9wC04lJBcf8",
              "name": "Endereço residencial com número",
              "fieldKey": "contact.endereo_residencial_com_nmero",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 750
            },
            {
              "id": "NcybLaphcZlg1dB9EV9a",
              "name": "descreva o que faz no emprego",
              "fieldKey": "contact.descreva_o_que_faz_no_emprego",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 800
            },
            {
              "id": "mVQqDTIARtAuIy8MQpEm",
              "name": "Quanto tempo por semana você está disposta a dedicar para vender as semijoias?",
              "fieldKey": "contact.quanto_tempo_por_semana_voc_est_disposta_a_dedicar_para_vender_as_semijoias",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 850
            },
            {
              "id": "SoJwYYu3Jgc5t8Q3Ew23",
              "name": "Como você pretende divulgar e vender as semijoias?",
              "fieldKey": "contact.como_voc_pretende_divulgar_e_vender_as_semijoias",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 900
            },
            {
              "id": "soBjJL6gvArc0bbin07t",
              "name": "Quais desafios você acha que pode enfrentar ao começar como revendedora e como pretende superá-los?",
              "fieldKey": "contact.quais_desafios_voc_acha_que_pode_enfrentar_ao_comear_como_revendedora_e_como_pretende_superlos",
              "placeholder": "",
              "dataType": "LARGE_TEXT",
              "position": 950
            },
            {
              "id": "9RUuRTRsUJhgcOJrBiRZ",
              "name": "Você está pronta para começar imediatamente, caso seja aprovada?",
              "fieldKey": "contact.voc_est_pronta_para_comear_imediatamente_caso_seja_aprovada",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 1000
            },
            {
              "id": "xA6dTzRThjsS8duFqcHN",
              "name": "Você está disposta a participar de treinamentos para aprender mais sobre as vendas e o produto?",
              "fieldKey": "contact.voc_est_disposta_a_participar_de_treinamentos_para_aprender_mais_sobre_as_vendas_e_o_produto",
              "placeholder": "",
              "dataType": "TEXT",
              "position": 1050
            },
            {
              "id": "SfCXFY2hPWuqR8BZ3AK5",
              "name": "Para finalizar leia e aceite os termos",
              "fieldKey": "contact.para_finalizar_leia_e_aceite_os_termos",
              "placeholder": "",
              "dataType": "CHECKBOX",
              "position": 1100,
              "picklistOptions": [
                "Aceito",
                "Não aceito"
              ]
            }
          ]
        }
      }
    ]
  },
  "versionId": "0bb50849-4ba9-43a1-be55-b75293683a25",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-03-19T22:09:50.746Z",
      "updatedAt": "2025-03-19T22:09:50.746Z",
      "id": "ym3kj9Zy8GL4TmL2",
      "name": "Alina Semijoias"
    }
  ]
}