flows.escamax1.automacao360.com/workflows/[Finna Joias] Core.json
{
  "createdAt": "2025-04-06T20:51:34.112Z",
  "updatedAt": "2025-07-01T19:45:01.291Z",
  "id": "Op1RR3U4qIupUBQz",
  "name": "[Finna Joias] Core",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Core Input').item.json.body.mapping.parseJson().system.conversations_id }}",
        "tableName": "core_chat_finna",
        "contextWindowLength": "={{ $('Core Input').item.json.body.mapping.parseJson().system.context_window }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        20,
        300
      ],
      "id": "d890c281-e494-42ae-bcdf-a14cffd4271a",
      "name": "Memory",
      "credentials": {
        "postgres": {
          "id": "ZlVXa1ALIDyPy882",
          "name": "Postgres escalamax1"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 180,
        "width": 1040,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -340,
        260
      ],
      "typeVersion": 1,
      "id": "d8ff5fc8-b412-49b1-bae1-04a40e2263be",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.content || ' ' }}",
        "options": {
          "systemMessage": "=You are a helpful assistant\n\n<retrieval_augmented_generation_result>\n{{ $json.body.rag_return }}\n</retrieval_augmented_generation_result>\n\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Seja uma Consultora Finna Semijoias</title>\n    <!-- Chosen Palette: Warm Neutrals & Rose Gold -->\n    <!-- Application Structure Plan: A \"Guided Onboarding Journey\" SPA. It starts with an introduction to build trust, followed by a linear section to explore the opportunity (commissions, products, process) in a digestible way by scrolling. This leads to a multi-step onboarding form that simulates the agent conversation, making data collection less daunting. An accordion FAQ and footer with legal info complete the page. This structure turns a static procedural document into an engaging marketing and onboarding tool, guiding the user logically from interest to application. -->\n    <!-- Visualization & Content Choices: 1) Commission Tiers: Goal=Compare/Motivate, Method=Bar Chart (Chart.js/Canvas), Interaction=Tooltips on hover, Justification=More intuitive than text for earning potential. 2) Career Plan: Goal=Show Growth, Method=HTML/Tailwind visual diagram, Interaction=None, Justification=Visually represents the journey with increasing rewards. 3) Onboarding Process: Goal=Organize, Method=HTML/JS Multi-step form, Interaction=Click to advance, Justification=Breaks down a long form into manageable steps, improving user experience. 4) FAQ: Goal=Organize, Method=HTML/JS Accordion, Interaction=Click to expand, Justification=Standard, space-saving UI pattern for detailed policies. -->\n    <!-- CONFIRMATION: NO SVG graphics used. NO Mermaid JS used. -->\n    <script src=\"https://cdn.tailwindcss.com\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        body {\n            font-family: 'Inter', sans-serif;\n            scroll-behavior: smooth;\n        }\n        .chart-container {\n            position: relative;\n            width: 100%;\n            max-width: 600px;\n            margin-left: auto;\n            margin-right: auto;\n            height: 300px;\n            max-height: 400px;\n        }\n        @media (min-width: 768px) {\n            .chart-container {\n                height: 350px;\n            }\n        }\n        .tab-active {\n            border-color: #b03060;\n            color: #b03060;\n            background-color: #fce4ec;\n        }\n        .tab-inactive {\n            border-color: transparent;\n            color: #6b7280;\n        }\n        .step-active {\n             display: block;\n        }\n        .step-inactive {\n            display: none;\n        }\n        .faq-answer {\n            max-height: 0;\n            overflow: hidden;\n            transition: max-height 0.5s ease-in-out;\n        }\n    </style>\n</head>\n<body class=\"bg-[#FFFBF8] text-gray-800\">\n\n    <div class=\"container mx-auto p-4 md:p-8 max-w-5xl\">\n\n        <header class=\"text-center mb-12\">\n            <h1 class=\"text-4xl md:text-5xl font-bold text-[#b03060] mb-2\">Finna Semijoias</h1>\n            <p class=\"text-lg text-gray-600\">Transforme sua paixão em renda. Seja uma consultora de sucesso.</p>\n        </header>\n\n        <section id=\"intro\" class=\"mb-16\">\n            <div class=\"bg-white p-8 rounded-2xl shadow-sm border border-gray-200\">\n                <h2 class=\"text-2xl font-bold text-center mb-6 text-[#b03060]\">A sua oportunidade de brilhar começa aqui</h2>\n                <p class=\"text-center text-gray-600 mb-8 max-w-3xl mx-auto\">\n                    Há 5 anos, a Finna Semijoias, fundada pelos sócios Adriano Graciki e Renata Martins Graciki, fortalece a independência financeira de mulheres em Joinville e região. Nossa missão é proporcionar uma fonte de renda, principal ou extra, através da venda de semijoias de alta qualidade em consignação. Junte-se a mais de 250 consultoras de sucesso!\n                </p>\n                <div class=\"flex justify-center\">\n                     <a href=\"#cadastro\" class=\"bg-[#b03060] text-white font-bold py-3 px-8 rounded-lg hover:bg-[#c14070] transition-colors text-lg\">Quero ser consultora</a>\n                </div>\n            </div>\n        </section>\n\n        <section id=\"como-funciona\" class=\"mb-16\">\n             <div class=\"bg-white p-6 md:p-8 rounded-2xl shadow-sm border border-gray-200\">\n                <h2 class=\"text-2xl font-bold text-center mb-8 text-[#b03060]\">Descubra o universo Finna</h2>\n                <div class=\"w-full\">\n                    <!-- Tab Content - Now displayed linearly -->\n                    <div id=\"tab-content\" class=\"px-2\">\n                        <!-- Oportunidade Section -->\n                        <div id=\"oportunidade\" class=\"tab-pane mb-12\">\n                            <h3 class=\"text-xl font-bold text-center mb-6 text-[#b03060]\">Sua Oportunidade</h3>\n                            <p class=\"text-center text-gray-600 mb-8\">Oferecemos um modelo de negócio transparente com ganhos escaláveis e um plano de carreira pensado para o seu crescimento.</p>\n                            <div class=\"grid grid-cols-1 md:grid-cols-2 gap-8 items-start\">\n                                <div>\n                                    <h4 class=\"font-bold text-lg text-center mb-2\">Potencial de Comissão Inicial</h4>\n                                    <p class=\"text-sm text-center text-gray-500 mb-4\">Passe o mouse sobre as barras para ver os detalhes.</p>\n                                    <div class=\"chart-container\">\n                                        <canvas id=\"commissionChart\"></canvas>\n                                    </div>\n                                </div>\n                                <div>\n                                    <h4 class=\"font-bold text-lg text-center mb-4\">Seu Plano de Carreira</h4>\n                                    <div class=\"space-y-4\">\n                                        <div class=\"p-4 bg-gray-50 rounded-lg border-l-4 border-gray-400\">\n                                            <h5 class=\"font-bold text-gray-700\">Nível Pérola (Iniciante)</h5>\n                                            <p class=\"text-sm text-gray-600\">Comissões de 20% a 40% sobre as vendas.</p>\n                                        </div>\n                                        <div class=\"p-4 bg-green-50 rounded-lg border-l-4 border-green-500\">\n                                            <h5 class=\"font-bold text-green-800\">Nível Esmeralda</h5>\n                                            <p class=\"text-sm text-gray-600\">Após 3 meses e acerto de R$1.500. Leve até R$6 mil em peças e ganhe <strong>43% de comissão</strong> ao vender metade.</p>\n                                        </div>\n                                        <div class=\"p-4 bg-blue-50 rounded-lg border-l-4 border-blue-500\">\n                                            <h5 class=\"font-bold text-blue-800\">Nível Diamante</h5>\n                                            <p class=\"text-sm text-gray-600\">Após 6 meses e acerto de R$3.500. Leve até R$10 mil em peças e ganhe <strong>50% de comissão</strong> ao vender metade.</p>\n                                        </div>\n                                    </div>\n                                </div>\n                            </div>\n                        </div>\n                        <!-- Produtos Section -->\n                        <div id=\"produtos\" class=\"tab-pane mb-12\">\n                            <h3 class=\"text-xl font-bold text-center mb-6 text-[#b03060]\">Nossos Produtos</h3>\n                            <p class=\"text-center text-gray-600 mb-8\">Nossas peças são sinônimo de qualidade e sofisticação, com garantia para que você e suas clientes tenham total confiança.</p>\n                             <div class=\"grid grid-cols-1 md:grid-cols-2 gap-6\">\n                                <div class=\"bg-gray-50 p-6 rounded-lg\">\n                                    <h4 class=\"font-semibold mb-2\">Materiais Nobres</h4>\n                                    <ul class=\"list-disc list-inside text-gray-600 space-y-1\">\n                                        <li>Banho de Ouro 18k</li>\n                                        <li>Banho de prata 1000</li>\n                                        <li>Aço Cirúrgico</li>\n                                        <li>Peças Hipoalergênicas</li>\n                                        <li>Zircônias de alta qualidade</li>\n                                    </ul>\n                                </div>\n                                <div class=\"bg-gray-50 p-6 rounded-lg\">\n                                    <h4 class=\"font-semibold mb-2\">Garantia e Cuidados</h4>\n                                    <p class=\"text-gray-600\"><strong>Garantia de 3 anos</strong> no banho contra defeitos de fabricação. A garantia não cobre mau uso (peças arrebentadas, pedras trincadas, zircônias que caem, ou sujeira intensa).</p>\n                                    <p class=\"text-sm text-gray-500 mt-2\"><strong>Cuidados:</strong> Evite químicos e água salgada. Limpe com detergente neutro e seque com a flanela especial que fornecemos.</p>\n                                </div>\n                            </div>\n                        </div>\n                        <!-- Processo Section -->\n                        <div id=\"processo\" class=\"tab-pane\">\n                            <h3 class=\"text-xl font-bold text-center mb-6 text-[#b03060]\">Como Começar</h3>\n                             <p class=\"text-center text-gray-600 mb-8\">Tornar-se uma consultora Finna é um processo simples. Siga os passos abaixo para iniciar sua jornada.</p>\n                             <div class=\"relative flex flex-col md:flex-row justify-center items-stretch gap-6\">\n                                <div class=\"absolute top-1/2 left-0 w-full h-0.5 bg-gray-200 hidden md:block\"></div>\n                                <div class=\"flex-1 text-center p-6 bg-white rounded-lg z-10\">\n                                    <div class=\"mx-auto w-12 h-12 flex items-center justify-center bg-[#fce4ec] text-[#b03060] rounded-full text-xl font-bold mb-3\">1</div>\n                                    <h4 class=\"font-bold mb-2\">Pré-Cadastro</h4>\n                                    <p class=\"text-sm text-gray-600\">Preencha o formulário nesta página com seus dados iniciais.</p>\n                                </div>\n                                 <div class=\"flex-1 text-center p-6 bg-white rounded-lg z-10\">\n                                    <div class=\"mx-auto w-12 h-12 flex items-center justify-center bg-[#fce4ec] text-[#b03060] rounded-full text-xl font-bold mb-3\">2</div>\n                                    <h4 class=\"font-bold mb-2\">Qualificação</h4>\n                                    <p class=\"text-sm text-gray-600\">Complete as informações adicionais para conhecermos melhor seu perfil.</p>\n                                </div>\n                                 <div class=\"flex-1 text-center p-6 bg-white rounded-lg z-10\">\n                                    <div class=\"mx-auto w-12 h-12 flex items-center justify-center bg-[#fce4ec] text-[#b03060] rounded-full text-xl font-bold mb-3\">3</div>\n                                    <h4 class=\"font-bold mb-2\">Análise e Contato</h4>\n                                    <p class=\"text-sm text-gray-600\">Nossa equipe analisará seu cadastro e entrará em contato em até 5 dias úteis.</p>\n                                </div>\n                             </div>\n                        </div>\n                    </div>\n                </div>\n             </div>\n        </section>\n\n        <section id=\"cadastro\" class=\"mb-16\">\n            <div class=\"bg-white p-6 md:p-8 rounded-2xl shadow-sm border border-gray-200\">\n                <div class=\"text-center mb-8\">\n                    <h2 class=\"text-2xl font-bold text-[#b03060]\">Vamos começar seu cadastro?</h2>\n                    <p class=\"text-gray-600 mt-2\">Oie tudo bem? sou a Alice, sua assistente virtual. Vou te ajudar com os próximos passos.</p>\n                </div>\n\n                <div id=\"onboarding-form\" class=\"max-w-2xl mx-auto\">\n                    <!-- Basic Info -->\n                    <div class=\"grid grid-cols-1 gap-4\">\n                        <div><label for=\"nome\" class=\"block text-sm font-medium text-gray-700\">Nome Completo</label><input type=\"text\" id=\"nome\" class=\"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[#b03060] focus:ring-[#b03060] sm:text-sm\" placeholder=\"Seu nome completo\"></div>\n                        <div><label for=\"whatsapp\" class=\"block text-sm font-medium text-gray-700\">WhatsApp (com DDD)</label><input type=\"tel\" id=\"whatsapp\" class=\"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[#b03060] focus:ring-[#b03060] sm:text-sm\" placeholder=\"Ex: (47) 99999-9999\"></div>\n                        <div><label for=\"email\" class=\"block text-sm font-medium text-gray-700\">E-mail</label><input type=\"email\" id=\"email\" class=\"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[#b03060] focus:ring-[#b03060] sm:text-sm\" placeholder=\"seu.email@exemplo.com\"></div>\n                    </div>\n\n                    <h3 class=\"text-xl font-bold text-[#b03060] mt-8 mb-6 text-center\">Perguntas de Qualificação</h3>\n                    <!-- Qualification Fields -->\n                    <div class=\"grid grid-cols-1 md:grid-cols-2 gap-4\">\n                        <div><label for=\"idade\" class=\"block text-sm font-medium text-gray-700\">Idade</label><input type=\"number\" id=\"idade\" class=\"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[#b03060] focus:ring-[#b03060]\"></div>\n                        <div><label for=\"cpf\" class=\"block text-sm font-medium text-gray-700\">CPF</label><input type=\"text\" id=\"cpf\" class=\"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[#b03060] focus:ring-[#b03060]\"></div>\n                        <div class=\"md:col-span-2\"><label for=\"endereco\" class=\"block text-sm font-medium text-gray-700\">Endereço Completo</label><input type=\"text\" id=\"endereco\" class=\"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[#b03060] focus:ring-[#b03060]\"></div>\n                        <div class=\"md:col-span-2\"><label for=\"instagram\" class=\"block text-sm font-medium text-gray-700\">Seu Instagram (perfil aberto)</label><input type=\"text\" id=\"instagram\" placeholder=\"@seu_perfil\" class=\"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[#b03060] focus:ring-[#b03060]\"></div>\n                        <div><label for=\"como_conheceu\" class=\"block text-sm font-medium text-gray-700\">Como conheceu a Finna?</label><input type=\"text\" id=\"como_conheceu\" class=\"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[#b03060] focus:ring-[#b03060]\"></div>\n                        <div><label for=\"profissao\" class=\"block text-sm font-medium text-gray-700\">Profissão</label><input type=\"text\" id=\"profissao\" class=\"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[#b03060] focus:ring-[#b03060]\"></div>\n                        <div><label for=\"revendeu\" class=\"block text-sm font-medium text-gray-700\">Já revendeu semijoias?</label><select id=\"revendeu\" class=\"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[#b03060] focus:ring-[#b03060]\"><option>Não</option><option>Sim</option></select></div>\n                        <div><label for=\"renda\" class=\"block text-sm font-medium text-gray-700\">Objetivo</label><select id=\"renda\" class=\"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[#b03060] focus:ring-[#b03060]\"><option>Renda Extra</option><option>Renda Principal</option></select></div>\n                        <div class=\"md:col-span-2\"><label for=\"disponibilidade\" class=\"block text-sm font-medium text-gray-700\">Disponibilidade de horários</label><input type=\"text\" id=\"disponibilidade\" class=\"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[#b03060] focus:ring-[#b03060]\"></div>\n                        <div class=\"md:col-span-2\"><label for=\"restricao\" class=\"block text-sm font-medium text-gray-700\">Possui restrição no nome? (Não é critério de reprovação)</label><select id=\"restricao\" class=\"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[#b03060] focus:ring-[#b03060]\"><option>Não</option><option>Sim</option></select></div>\n                    </div>\n                    <div class=\"mt-6 text-right\">\n                        <button onclick=\"showConfirmation()\" class=\"bg-[#b03060] text-white font-bold py-2 px-6 rounded-lg hover:bg-[#c14070] transition-colors\">Finalizar Cadastro</button>\n                    </div>\n                </div>\n\n                <!-- Confirmation Message (Step 3) -->\n                <div id=\"step-3\" class=\"form-step step-inactive text-center\">\n                    <div class=\"p-8 bg-green-50 border border-green-200 rounded-lg\">\n                         <h3 class=\"text-xl font-bold text-green-800\">Cadastro concluído!</h3>\n                         <p class=\"text-green-700 mt-2\">Obrigada por seu interesse! Recebemos suas informações e nossa equipe entrará em contato em até 5 dias úteis.</p>\n                         <p class=\"text-green-700 mt-1\">Ficamos à disposição para qualquer dúvida.</p>\n                    </div>\n                </div>\n            </div>\n        </section>\n\n        <section id=\"faq\" class=\"mb-16\">\n            <div class=\"bg-white p-6 md:p-8 rounded-2xl shadow-sm border border-gray-200\">\n                 <h2 class=\"text-2xl font-bold text-center mb-8 text-[#b03060]\">Dúvidas Frequentes</h2>\n                 <div id=\"faq-accordion\" class=\"space-y-3 max-w-3xl mx-auto\">\n                     <div class=\"faq-item\"><button class=\"faq-question w-full text-left font-semibold p-4 bg-gray-50 hover:bg-gray-100 rounded-lg flex justify-between items-center transition\"><span>Como funcionam os acertos e trocas de maleta?</span><span class=\"transform transition-transform duration-300\">▼</span></button><div class=\"faq-answer border-l border-r border-b border-gray-200 rounded-b-lg\"><p class=\"p-4\">Os acertos de valores e a troca da maleta ocorrem presencialmente a cada 30 dias em nosso Showroom. É nesse momento que você paga pelas peças vendidas e renova seu mostruário.</p></div></div>\n                     <div class=\"faq-item\"><button class=\"faq-question w-full text-left font-semibold p-4 bg-gray-50 hover:bg-gray-100 rounded-lg flex justify-between items-center transition\"><span>Como funciona o frete para consultoras?</span><span class=\"transform transition-transform duration-300\">▼</span></button><div class=\"faq-answer border-l border-r border-b border-gray-200 rounded-b-lg\"><p class=\"p-4\">Se a consultora for de Joinville e não puder vir realizar a troca da maleta, podemos fazer a troca por motoboy com o frete sendo pago pela consultora. Caso ela seja de outra cidade, a maleta é enviada via Correios sem custo nos primeiros 3 meses. Após esse período a consultora terá o custo de devolução caso venda abaixo de R$500,00 e caso venda acima desse valor os custos serão abonados pela Finna. Não enviamos maletas por motoboy quando se trata do primeiro contato.</p></div></div>\n                     <div class=\"faq-item\"><button class=\"faq-question w-full text-left font-semibold p-4 bg-gray-50 hover:bg-gray-100 rounded-lg flex justify-between items-center transition\"><span>Que tipo de suporte e materiais vocês oferecem?</span><span class=\"transform transition-transform duration-300\">▼</span></button><div class=\"faq-answer border-l border-r border-b border-gray-200 rounded-b-lg\"><p class=\"p-4\">Oferecemos auxílio completo com a nossa equipe interna de suporte, grupo exclusivo de WhatsApp com conteúdos diários para divulgação, aulas e treinamentos ao vivo, também fornecemos gratuitamente bolsa personalizada, embalagens com perfume da Finna, espelho e flanela especial para manter as peças limpas e brilhantes. Fornecemos até 3 flanelas gratuitas para suas clientes; flanelas adicionais custam R$5,00.</p></div></div>\n                     <div class=\"faq-item\"><button class=\"faq-question w-full text-left font-semibold p-4 bg-gray-50 hover:bg-gray-100 rounded-lg flex justify-between items-center transition\"><span>Posso criar um Instagram para divulgar as peças?</span><span class=\"transform transition-transform duration-300\">▼</span></button><div class=\"faq-answer border-l border-r border-b border-gray-200 rounded-b-lg\"><p class=\"p-4\">Sim! Nossas consultoras podem criar Instagram para divulgar as peças, desenvolver um nome para a rede e até uma logo. Só pedimos que coloquem na bio do Instagram que são uma consultora @finnasemijoias, não usem nossa logo como foto de perfil para não confundir com o Insta oficial, e não alterem ou distorçam a logo oficial da Finna.</p></div></div>\n                     <div class=\"faq-item\"><button class=\"faq-question w-full text-left font-semibold p-4 bg-gray-50 hover:bg-gray-100 rounded-lg flex justify-between items-center transition\"><span>Qual a importância do meu Instagram para o cadastro?</span><span class=\"transform transition-transform duration-300\">▼</span></button><div class=\"faq-answer border-l border-r border-b border-gray-200 rounded-b-lg\"><p class=\"p-4\">O Instagram é um dos pontos mais importantes para a análise do seu cadastro. Por isso, é fundamental que o perfil informado esteja aberto para que nossa equipe possa avaliá-lo.</p></div></div>\n                     <div class=\"faq-item\"><button class=\"faq-question w-full text-left font-semibold p-4 bg-gray-50 hover:bg-gray-100 rounded-lg flex justify-between items-center transition\"><span>Quais as formas de pagamento para meus clientes e para a Finna?</span><span class=\"transform transition-transform duration-300\">▼</span></button><div class=\"faq-answer border-l border-r border-b border-gray-200 rounded-b-lg\"><p class=\"p-4\"><strong>Para seus clientes:</strong> Não interferimos na forma de cobrança, mas sugerimos à vista ou parcelado no cartão para evitar inadimplências. A organização das vendas é sua.</p><p class=\"p-4\"><strong>Para a Finna:</strong> O pagamento é feito no dia do acerto, via Pix, dinheiro ou cartão de crédito assumindo os jurinhos da máquina. Também parcelamos no cartão. Não aceitamos pagamentos via boletos ou promissórias.</p></div></div>\n                     <div class=\"faq-item\"><button class=\"faq-question w-full text-left font-semibold p-4 bg-gray-50 hover:bg-gray-100 rounded-lg flex justify-between items-center transition\"><span>Como funciona o Plano de Carreira e os Níveis de Consultora?</span><span class=\"transform transition-transform duration-300\">▼</span></button><div class=\"faq-answer border-l border-r border-b border-gray-200 rounded-b-lg\"><p class=\"p-4\">Todas as consultoras iniciam como **Pérolas**. Para evoluir para **Esmeralda**, é preciso estar na Finna por 3 meses e ter um acerto de R$1.500,00. Um dos benefícios é a troca de maleta inicial por uma mais sofisticada com a cor da Finna, e o aumento da quantidade de peças, podendo levar até R$6.000,00 em produtos e ganhar 43% de comissão ao vender metade da maleta. Para ser **Diamante**, são 6 meses na Finna e um acerto de R$3.500,00. Um dos benefícios é a troca de maleta no final do ano, com um reconhecimento em uma festa incrível para a equipe comercial, além do aumento da quantidade de peças, podendo levar até R$10.000,00 em produtos e 50% de comissão ao vender metade da maleta.</p></div></div>\n                     <div class=\"faq-item\"><button class=\"faq-question w-full text-left font-semibold p-4 bg-gray-50 hover:bg-gray-100 rounded-lg flex justify-between items-center transition\"><span>Como funcionam as Comissões?</span><span class=\"transform transition-transform duration-300\">▼</span></button><div class=\"faq-answer border-l border-r border-b border-gray-200 rounded-b-lg\"><p class=\"p-4\">Trabalhamos com 3 níveis de comissionamento iniciais: 20% para vendas abaixo de R$499,99; 30% para vendas de R$499,99 até R$999,99; e 40% para vendas acima de R$1.000,00. As consultoras fazem o controle das comissões e, no dia do acerto, nos pagam apenas o valor da venda sem a comissão.</p></div></div>\n                     <div class=\"faq-item\"><button class=\"faq-question w-full text-left font-semibold p-4 bg-gray-50 hover:bg-gray-100 rounded-lg flex justify-between items-center transition\"><span>Ter nome com restrição impede o cadastro?</span><span class=\"transform transition-transform duration-300\">▼</span></button><div class=\"faq-answer border-l border-r border-b border-gray-200 rounded-b-lg\"><p class=\"p-4\">Não, ter nome com restrição não é um critério automático de reprovação. Nosso setor de análise verifica o perfil completo da consultora, então você pode preencher o formulário normalmente.</p></div></div>\n                     <div class=\"faq-item\"><button class=\"faq-question w-full text-left font-semibold p-4 bg-gray-50 hover:bg-gray-100 rounded-lg flex justify-between items-center transition\"><span>Como funciona a garantia das semijoias?</span><span class=\"transform transition-transform duration-300\">▼</span></button><div class=\"faq-answer border-l border-r border-b border-gray-200 rounded-b-lg\"><p class=\"p-4\">A garantia é de **3 anos sobre o banho** do produto. Ela não cobre mau uso, como peças arrebentadas, pedras trincadas, zircônias que caem ou sujeira intensa. A consultora deve preencher o link de garantia disponibilizado no grupo fechado. Se houver problemas no banho, a supervisora verificará o preenchimento correto e iniciará o procedimento de envio para rebanho. As peças são enviadas nos dias 15 e 30 do mês, contando 35 dias a partir do momento que enviamos. Se houver problemas como fechos que não funcionam ou correntes arrebentadas, a supervisora analisará a possibilidade de conserto sem custo, mas a garantia de 3 anos é exclusiva para o banho.</p></div></div>\n                 </div>\n            </div>\n        </section>\n\n        <footer class=\"text-center text-gray-500 text-sm\">\n            <div class=\"bg-[#fff8e1] border-l-4 border-[#ffb300] p-4 rounded-md max-w-3xl mx-auto mb-6\">\n                <p class=\"font-semibold\">Aviso Legal Importante</p>\n                <p>A não devolução das peças consignadas ou a inadimplência pode configurar apropriação indébita, com penalidades previstas em contrato e na legislação vigente.</p>\n            </div>\n            <p>Finna Semijoias Ltda - CNPJ 47.131.300/0001-73</p>\n            <p>&copy; 2024. Todos os direitos reservados.</p>\n        </footer>\n    </div>\n\n    <script>\n        function showConfirmation() {\n            // Hide the form fields and show the confirmation message\n            document.getElementById('onboarding-form').querySelector('div:first-of-type').style.display = 'none'; // Basic Info\n            document.getElementById('onboarding-form').querySelector('div:nth-of-type(2)').style.display = 'none'; // Qualification fields\n            document.getElementById('onboarding-form').querySelector('div:last-of-type').style.display = 'none'; // Button container\n            document.getElementById('step-3').classList.remove('step-inactive');\n            document.getElementById('step-3').classList.add('step-active');\n            document.getElementById('cadastro').scrollIntoView(); // Scroll to confirmation\n        }\n        \n        document.addEventListener('DOMContentLoaded', () => {\n            const commissionData = {\n                labels: ['Vendas até R$499', 'Vendas de R$499,99 a R$999,99', 'Vendas acima de R$1.000'],\n                datasets: [{\n                    label: 'Comissão (%)',\n                    data: [20, 30, 40],\n                    backgroundColor: ['#fce4ec', '#f8bbd0', '#f06292'],\n                    borderColor: '#b03060',\n                    borderWidth: 1.5,\n                    borderRadius: 5,\n                }]\n            };\n\n            const commissionConfig = {\n                type: 'bar',\n                data: commissionData,\n                options: {\n                    responsive: true,\n                    maintainAspectRatio: false,\n                    scales: { y: { beginAtZero: true, max: 50, ticks: { callback: v => v + '%' } } },\n                    plugins: {\n                        legend: { display: false },\n                        tooltip: {\n                             backgroundColor: '#b03060',\n                             titleFont: { size: 14, weight: 'bold' },\n                             bodyFont: { size: 12 },\n                             displayColors: false,\n                             callbacks: {\n                                label: c => `Comissão de ${c.parsed.y}%`\n                            }\n                        }\n                    }\n                }\n            };\n            \n            const commissionChart = new Chart(document.getElementById('commissionChart'), commissionConfig);\n\n            document.querySelectorAll('.faq-question').forEach(button => {\n                button.addEventListener('click', () => {\n                    const answer = button.nextElementSibling;\n                    const icon = button.querySelector('span:last-child');\n                    if (answer.style.maxHeight) {\n                        answer.style.maxHeight = null;\n                        icon.style.transform = 'rotate(0deg)';\n                    } else {\n                        answer.style.maxHeight = answer.scrollHeight + \"px\";\n                        icon.style.transform = 'rotate(180deg)';\n                    } \n                });\n            });\n        });\n    </script>\n\n</body>\n</html>\n",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        140,
        0
      ],
      "id": "6c01d099-2b68-4eda-855a-c8f7f3c375c0",
      "name": "Main Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        500,
        0
      ],
      "id": "28bcba0d-f4d4-43e0-be36-5a4c7cd6cf27",
      "name": "No Operation 2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "main5",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        0
      ],
      "id": "49584c80-7a0f-4544-afbb-6b04a73ce3e7",
      "name": "Core Input",
      "webhookId": "006367a9-b1a1-4cc3-a93f-60dabfbae291"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -100,
        300
      ],
      "id": "e0e0b748-2bd5-40dc-8b09-9cfaa2e9487e",
      "name": "OpenRouter",
      "credentials": {
        "openRouterApi": {
          "id": "OJT1sLLEsazPFgVw",
          "name": "OpenRouter escalamax"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 320,
        "width": 1040,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -340,
        -100
      ],
      "id": "b2fa7241-aadc-46ad-ae87-ea402d52641e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Fluxo Core, responsável pelo processamento da AI",
        "height": 80,
        "width": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -340,
        -100
      ],
      "id": "80859715-d752-45f8-87ec-ccef77452144",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "name": "restart_history",
        "description": "=Invoque essa tool para iniciar uma nova conversa para o user, assim ignorando o histórico passado. Apenas quando o user solicitar.",
        "jsCode": "const axios = require('axios');\n\n// Converte o mapeamento recebido em JSON\nconst mapping = JSON.parse($('Core Input').item.json.body.mapping);\n\n// Verifica se o usuário é admin; caso contrário, retorna erro\nif (mapping.system.user_type !== 'admin') {\n  return JSON.stringify({ success: false, error: \"Acesso negado: usuário não autorizado.\" });\n}\n\n/**\n * Função que espera pelo tempo especificado.\n * @param {number} ms - Milissegundos a aguardar.\n * @returns {Promise<void>}\n */\nconst delay = ms => new Promise(resolve => setTimeout(resolve, ms));\n\n/**\n * Função para enviar a requisição para criar uma conversa no Directus.\n * Tenta até 3 vezes em caso de falha, com delay de 1 segundo entre as tentativas.\n * @returns {Promise<object>} - Objeto com sucesso ou erro.\n */\nasync function sendRequest() {\n  const url = `http://${mapping.system.directus_service}:8055/items/conversations`;\n  const data = {\n    user_id: mapping.chatwoot.contact_id,\n    date_created: new Date().toISOString()\n  };\n  const headers = {\n    Authorization: `Bearer ${mapping.system.directus_token}`,\n    'Content-Type': 'application/json'\n  };\n\n  let attempt = 0;\n  let lastError = null;\n\n  while (attempt < 3) {\n    try {\n      const response = await axios.post(url, data, { headers });\n      console.log(`Requisição realizada com sucesso na tentativa ${attempt + 1}.`);\n      return { success: true, data: response.data };\n    } catch (error) {\n      attempt++;\n      lastError = error;\n      console.error(`Tentativa ${attempt} falhou:`, error.response ? error.response.data : error.message);\n      if (attempt < 3) {\n        console.log(\"Aguardando 1 segundo antes da nova tentativa...\");\n        await delay(1000);\n      }\n    }\n  }\n  \n  return { success: false, error: lastError.response ? lastError.response.data : lastError.message };\n}\n\nreturn sendRequest().then(result => JSON.stringify(result));"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        140,
        300
      ],
      "id": "761bd145-7363-4526-a1d6-321e0739c444",
      "name": "Restart History"
    },
    {
      "parameters": {
        "name": "set_timer",
        "description": "Invoque essa tool para configurar um timer que iniciará uma ação após o tempo especificado. Apenas usuários admin podem usar essa tool. O tempo deve ser informado com valor e unidade (s, m, h). Apenas quando o user solicitar.",
        "jsCode": "const axios = require('axios');\nconst dayjs = require('dayjs');\nconst duration = require('dayjs/plugin/duration');\ndayjs.extend(duration);\n\n/**\n * Esta tool configura um timer via webhook.\n * Ela envia, para o endpoint, todo o objeto mapping (obtido em Core Input)\n * e o tempo em segundos calculado a partir dos parâmetros \"timer_value\" e \"timer_unit\".\n * Apenas usuários admin podem utilizar esta tool.\n */\n\n// Converte o mapping recebido em JSON\nconst mapping = JSON.parse($('Core Input').item.json.body.mapping);\n\n// Verifica se o usuário é admin\nif (mapping.system.user_type !== 'admin') {\n  return JSON.stringify({ success: false, error: \"Acesso negado: usuário não autorizado.\" });\n}\n\n// Obtém os parâmetros do timer a partir do input (query)\nconst timerValue = query.timer_value;  // Número (ex: 30)\nconst timerUnit = query.timer_unit;      // \"s\", \"m\" ou \"h\"\n\n// Calcula o tempo em segundos usando dayjs.duration\nconst timerSeconds = dayjs.duration(timerValue, timerUnit).asSeconds();\n\n// Prepara o payload para o webhook\nconst payload = {\n  mapping: mapping,\n  timer_seconds: timerSeconds\n};\n\n// URL do webhook substituindo 'n8n_webhook' pelo valor da variável no mapping\nconst url = `http://${mapping.system.n8n_webhook_service}:5678/webhook/timer`;\n\n/**\n * Função para enviar a requisição ao webhook.\n * Tenta enviar uma única vez e retorna o resultado.\n */\nasync function sendTimerRequest() {\n  try {\n    console.log(`Enviando requisição para configurar o timer para ${timerSeconds} segundos...`);\n    const response = await axios.post(url, payload, {\n      headers: { 'Content-Type': 'application/json' }\n    });\n    console.log(\"Timer configurado com sucesso.\");\n    return { success: true, message: `Timer configurado com sucesso. Ele será acionado em ${timerSeconds} segundos.` };\n  } catch (error) {\n    console.error(\"Erro ao configurar o timer:\", error.response ? error.response.data : error.message);\n    return { success: false, error: error.response ? error.response.data : error.message };\n  }\n}\n\nreturn sendTimerRequest().then(result => JSON.stringify(result));",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"timer_value\": {\n      \"type\": \"number\",\n      \"description\": \"Valor do timer. Exemplo: 30\"\n    },\n    \"timer_unit\": {\n      \"type\": \"string\",\n      \"description\": \"Unidade de tempo para o timer: 's' para segundos, 'm' para minutos, 'h' para horas.\",\n      \"enum\": [\"s\", \"m\", \"h\"]\n    }\n  },\n  \"required\": [\"timer_value\", \"timer_unit\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        280,
        300
      ],
      "id": "40177fa2-70db-4465-b602-530f0103558b",
      "name": "Set Timer"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        580,
        300
      ],
      "id": "31de0692-0e37-43f7-8482-66a3a321f663",
      "name": "Think"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "whatsapp",
              "value": "={{ JSON.parse($item(\"0\").$node[\"Core Input\"].json[\"body\"][\"mapping\"]).chatwoot.phone_number.replace(\"+\", \"\") }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -40,
        0
      ],
      "id": "76c09e95-8ddd-442b-b972-39ef338708cc",
      "name": "Execution Data",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oGXKMTsg9Gf02Zqi",
          "mode": "list",
          "cachedResultName": "[Finna Joias] - contatos BobGrow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operação": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('opera__o', ``, 'string') }}",
            "firstName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('firstName', ``, 'string') }}",
            "lastName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lastName', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone', ``, 'string') }}",
            "city": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('city', ``, 'string') }}",
            "address1": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('address1', ``, 'string') }}",
            "source": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('source', ``, 'string') }}",
            "Tem filhos? Se sim, quantos?": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tem_filhos__Se_sim__quantos_', ``, 'string') }}",
            "Nos mande o link do seu instagram": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nos_mande_o_link_do_seu_instagram', ``, 'string') }}",
            "Como conhecer a Finna?": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Como_conhecer_a_Finna_', ``, 'string') }}",
            "Qual é a sua profissão?": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Qual___a_sua_profiss_o_', ``, 'string') }}",
            "Já Revendeu Semijoias antes?": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('J__Revendeu_Semijoias_antes_', ``, 'string') }}",
            "Tem disponibilidade de horários? Quais períodos?": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tem_disponibilidade_de_hor_rios__Quais_per_odos_', ``, 'string') }}",
            "Renda Extra ou Renda Principal?": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Renda_Extra_ou_Renda_Principal_', ``, 'string') }}",
            "Tem Residência própria?": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tem_Resid_ncia_pr_pria_', ``, 'string') }}",
            "Tem restrição em seu nome?": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tem_restri__o_em_seu_nome_', ``, 'string') }}",
            "cpf": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cpf', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operação",
              "displayName": "operação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "address1",
              "displayName": "address1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Tem filhos? Se sim, quantos?",
              "displayName": "Tem filhos? Se sim, quantos?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Nos mande o link do seu instagram",
              "displayName": "Nos mande o link do seu instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Como conhecer a Finna?",
              "displayName": "Como conhecer a Finna?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Qual é a sua profissão?",
              "displayName": "Qual é a sua profissão?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Já Revendeu Semijoias antes?",
              "displayName": "Já Revendeu Semijoias antes?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Tem disponibilidade de horários? Quais períodos?",
              "displayName": "Tem disponibilidade de horários? Quais períodos?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Renda Extra ou Renda Principal?",
              "displayName": "Renda Extra ou Renda Principal?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Tem Residência própria?",
              "displayName": "Tem Residência própria?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Tem restrição em seu nome?",
              "displayName": "Tem restrição em seu nome?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cpf",
              "displayName": "cpf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        440,
        300
      ],
      "id": "6d9dc450-dd6b-40e9-a419-790b7e9ed6c3",
      "name": "cadastroUsers"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        300
      ],
      "id": "bf535ff8-d340-4c92-b31b-875affcd2188",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3KUgCv31pjbgxYGk",
          "name": "EscalaMax"
        }
      }
    }
  ],
  "connections": {
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Main Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Main Agent": {
      "main": [
        [
          {
            "node": "No Operation 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Core Input": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter": {
      "ai_languageModel": [
        []
      ]
    },
    "Restart History": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Set Timer": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "Main Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastroUsers": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Main Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Op1RR3U4qIupUBQz"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "6842bfbe-5190-419b-9e0f-b5e7050ccf21",
  "triggerCount": 1,
  "tags": []
}